/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sd-btn-application01-name: 'sd-btn_application01';
$sd-btn-application01-x: 1148px;
$sd-btn-application01-y: 0px;
$sd-btn-application01-offset-x: -1148px;
$sd-btn-application01-offset-y: 0px;
$sd-btn-application01-width: 134px;
$sd-btn-application01-height: 153px;
$sd-btn-application01-total-width: 1282px;
$sd-btn-application01-total-height: 1137px;
$sd-btn-application01-image: '/assets/images/sprites.png';
$sd-btn-application01: (1148px, 0px, -1148px, 0px, 134px, 153px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-btn_application01', );
$sd-btn-close01-name: 'sd-btn_close01';
$sd-btn-close01-x: 1233px;
$sd-btn-close01-y: 159px;
$sd-btn-close01-offset-x: -1233px;
$sd-btn-close01-offset-y: -159px;
$sd-btn-close01-width: 42px;
$sd-btn-close01-height: 42px;
$sd-btn-close01-total-width: 1282px;
$sd-btn-close01-total-height: 1137px;
$sd-btn-close01-image: '/assets/images/sprites.png';
$sd-btn-close01: (1233px, 159px, -1233px, -159px, 42px, 42px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-btn_close01', );
$sd-btn-facebook-name: 'sd-btn_facebook';
$sd-btn-facebook-x: 1148px;
$sd-btn-facebook-y: 159px;
$sd-btn-facebook-offset-x: -1148px;
$sd-btn-facebook-offset-y: -159px;
$sd-btn-facebook-width: 79px;
$sd-btn-facebook-height: 79px;
$sd-btn-facebook-total-width: 1282px;
$sd-btn-facebook-total-height: 1137px;
$sd-btn-facebook-image: '/assets/images/sprites.png';
$sd-btn-facebook: (1148px, 159px, -1148px, -159px, 79px, 79px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-btn_facebook', );
$sd-btn-facebook-selected-name: 'sd-btn_facebook_selected';
$sd-btn-facebook-selected-x: 1148px;
$sd-btn-facebook-selected-y: 244px;
$sd-btn-facebook-selected-offset-x: -1148px;
$sd-btn-facebook-selected-offset-y: -244px;
$sd-btn-facebook-selected-width: 79px;
$sd-btn-facebook-selected-height: 79px;
$sd-btn-facebook-selected-total-width: 1282px;
$sd-btn-facebook-selected-total-height: 1137px;
$sd-btn-facebook-selected-image: '/assets/images/sprites.png';
$sd-btn-facebook-selected: (1148px, 244px, -1148px, -244px, 79px, 79px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-btn_facebook_selected', );
$sd-btn-kakaostory-name: 'sd-btn_kakaostory';
$sd-btn-kakaostory-x: 1148px;
$sd-btn-kakaostory-y: 329px;
$sd-btn-kakaostory-offset-x: -1148px;
$sd-btn-kakaostory-offset-y: -329px;
$sd-btn-kakaostory-width: 79px;
$sd-btn-kakaostory-height: 79px;
$sd-btn-kakaostory-total-width: 1282px;
$sd-btn-kakaostory-total-height: 1137px;
$sd-btn-kakaostory-image: '/assets/images/sprites.png';
$sd-btn-kakaostory: (1148px, 329px, -1148px, -329px, 79px, 79px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-btn_kakaostory', );
$sd-btn-kakaostory-selected-name: 'sd-btn_kakaostory_selected';
$sd-btn-kakaostory-selected-x: 1148px;
$sd-btn-kakaostory-selected-y: 584px;
$sd-btn-kakaostory-selected-offset-x: -1148px;
$sd-btn-kakaostory-selected-offset-y: -584px;
$sd-btn-kakaostory-selected-width: 79px;
$sd-btn-kakaostory-selected-height: 79px;
$sd-btn-kakaostory-selected-total-width: 1282px;
$sd-btn-kakaostory-selected-total-height: 1137px;
$sd-btn-kakaostory-selected-image: '/assets/images/sprites.png';
$sd-btn-kakaostory-selected: (1148px, 584px, -1148px, -584px, 79px, 79px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-btn_kakaostory_selected', );
$sd-btn-more01-name: 'sd-btn_more01';
$sd-btn-more01-x: 1012px;
$sd-btn-more01-y: 702px;
$sd-btn-more01-offset-x: -1012px;
$sd-btn-more01-offset-y: -702px;
$sd-btn-more01-width: 68px;
$sd-btn-more01-height: 16px;
$sd-btn-more01-total-width: 1282px;
$sd-btn-more01-total-height: 1137px;
$sd-btn-more01-image: '/assets/images/sprites.png';
$sd-btn-more01: (1012px, 702px, -1012px, -702px, 68px, 16px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-btn_more01', );
$sd-btn-next01-name: 'sd-btn_next01';
$sd-btn-next01-x: 1233px;
$sd-btn-next01-y: 414px;
$sd-btn-next01-offset-x: -1233px;
$sd-btn-next01-offset-y: -414px;
$sd-btn-next01-width: 25px;
$sd-btn-next01-height: 41px;
$sd-btn-next01-total-width: 1282px;
$sd-btn-next01-total-height: 1137px;
$sd-btn-next01-image: '/assets/images/sprites.png';
$sd-btn-next01: (1233px, 414px, -1233px, -414px, 25px, 41px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-btn_next01', );
$sd-btn-next01-selected-name: 'sd-btn_next01_selected';
$sd-btn-next01-selected-x: 1233px;
$sd-btn-next01-selected-y: 244px;
$sd-btn-next01-selected-offset-x: -1233px;
$sd-btn-next01-selected-offset-y: -244px;
$sd-btn-next01-selected-width: 25px;
$sd-btn-next01-selected-height: 41px;
$sd-btn-next01-selected-total-width: 1282px;
$sd-btn-next01-selected-total-height: 1137px;
$sd-btn-next01-selected-image: '/assets/images/sprites.png';
$sd-btn-next01-selected: (1233px, 244px, -1233px, -244px, 25px, 41px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-btn_next01_selected', );
$sd-btn-prev01-name: 'sd-btn_prev01';
$sd-btn-prev01-x: 1233px;
$sd-btn-prev01-y: 329px;
$sd-btn-prev01-offset-x: -1233px;
$sd-btn-prev01-offset-y: -329px;
$sd-btn-prev01-width: 25px;
$sd-btn-prev01-height: 41px;
$sd-btn-prev01-total-width: 1282px;
$sd-btn-prev01-total-height: 1137px;
$sd-btn-prev01-image: '/assets/images/sprites.png';
$sd-btn-prev01: (1233px, 329px, -1233px, -329px, 25px, 41px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-btn_prev01', );
$sd-btn-prev01-selected-name: 'sd-btn_prev01_selected';
$sd-btn-prev01-selected-x: 1233px;
$sd-btn-prev01-selected-y: 499px;
$sd-btn-prev01-selected-offset-x: -1233px;
$sd-btn-prev01-selected-offset-y: -499px;
$sd-btn-prev01-selected-width: 25px;
$sd-btn-prev01-selected-height: 41px;
$sd-btn-prev01-selected-total-width: 1282px;
$sd-btn-prev01-selected-total-height: 1137px;
$sd-btn-prev01-selected-image: '/assets/images/sprites.png';
$sd-btn-prev01-selected: (1233px, 499px, -1233px, -499px, 25px, 41px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-btn_prev01_selected', );
$sd-btn-story01-name: 'sd-btn_story01';
$sd-btn-story01-x: 832px;
$sd-btn-story01-y: 576px;
$sd-btn-story01-offset-x: -832px;
$sd-btn-story01-offset-y: -576px;
$sd-btn-story01-width: 174px;
$sd-btn-story01-height: 200px;
$sd-btn-story01-total-width: 1282px;
$sd-btn-story01-total-height: 1137px;
$sd-btn-story01-image: '/assets/images/sprites.png';
$sd-btn-story01: (832px, 576px, -832px, -576px, 174px, 200px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-btn_story01', );
$sd-btn-story02-name: 'sd-btn_story02';
$sd-btn-story02-x: 632px;
$sd-btn-story02-y: 255px;
$sd-btn-story02-offset-x: -632px;
$sd-btn-story02-offset-y: -255px;
$sd-btn-story02-width: 174px;
$sd-btn-story02-height: 200px;
$sd-btn-story02-total-width: 1282px;
$sd-btn-story02-total-height: 1137px;
$sd-btn-story02-image: '/assets/images/sprites.png';
$sd-btn-story02: (632px, 255px, -632px, -255px, 174px, 200px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-btn_story02', );
$sd-btn-story03-name: 'sd-btn_story03';
$sd-btn-story03-x: 632px;
$sd-btn-story03-y: 543px;
$sd-btn-story03-offset-x: -632px;
$sd-btn-story03-offset-y: -543px;
$sd-btn-story03-width: 174px;
$sd-btn-story03-height: 200px;
$sd-btn-story03-total-width: 1282px;
$sd-btn-story03-total-height: 1137px;
$sd-btn-story03-image: '/assets/images/sprites.png';
$sd-btn-story03: (632px, 543px, -632px, -543px, 174px, 200px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-btn_story03', );
$sd-btn-twitter-name: 'sd-btn_twitter';
$sd-btn-twitter-x: 1148px;
$sd-btn-twitter-y: 414px;
$sd-btn-twitter-offset-x: -1148px;
$sd-btn-twitter-offset-y: -414px;
$sd-btn-twitter-width: 79px;
$sd-btn-twitter-height: 79px;
$sd-btn-twitter-total-width: 1282px;
$sd-btn-twitter-total-height: 1137px;
$sd-btn-twitter-image: '/assets/images/sprites.png';
$sd-btn-twitter: (1148px, 414px, -1148px, -414px, 79px, 79px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-btn_twitter', );
$sd-btn-twitter-selected-name: 'sd-btn_twitter_selected';
$sd-btn-twitter-selected-x: 1148px;
$sd-btn-twitter-selected-y: 499px;
$sd-btn-twitter-selected-offset-x: -1148px;
$sd-btn-twitter-selected-offset-y: -499px;
$sd-btn-twitter-selected-width: 79px;
$sd-btn-twitter-selected-height: 79px;
$sd-btn-twitter-selected-total-width: 1282px;
$sd-btn-twitter-selected-total-height: 1137px;
$sd-btn-twitter-selected-image: '/assets/images/sprites.png';
$sd-btn-twitter-selected: (1148px, 499px, -1148px, -499px, 79px, 79px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-btn_twitter_selected', );
$sd-desc-story01-name: 'sd-desc_story01';
$sd-desc-story01-x: 0px;
$sd-desc-story01-y: 1017px;
$sd-desc-story01-offset-x: 0px;
$sd-desc-story01-offset-y: -1017px;
$sd-desc-story01-width: 333px;
$sd-desc-story01-height: 80px;
$sd-desc-story01-total-width: 1282px;
$sd-desc-story01-total-height: 1137px;
$sd-desc-story01-image: '/assets/images/sprites.png';
$sd-desc-story01: (0px, 1017px, 0px, -1017px, 333px, 80px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-desc_story01', );
$sd-desc-story02-name: 'sd-desc_story02';
$sd-desc-story02-x: 690px;
$sd-desc-story02-y: 831px;
$sd-desc-story02-offset-x: -690px;
$sd-desc-story02-offset-y: -831px;
$sd-desc-story02-width: 366px;
$sd-desc-story02-height: 81px;
$sd-desc-story02-total-width: 1282px;
$sd-desc-story02-total-height: 1137px;
$sd-desc-story02-image: '/assets/images/sprites.png';
$sd-desc-story02: (690px, 831px, -690px, -831px, 366px, 81px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-desc_story02', );
$sd-desc-story03-name: 'sd-desc_story03';
$sd-desc-story03-x: 339px;
$sd-desc-story03-y: 1017px;
$sd-desc-story03-offset-x: -339px;
$sd-desc-story03-offset-y: -1017px;
$sd-desc-story03-width: 333px;
$sd-desc-story03-height: 79px;
$sd-desc-story03-total-width: 1282px;
$sd-desc-story03-total-height: 1137px;
$sd-desc-story03-image: '/assets/images/sprites.png';
$sd-desc-story03: (339px, 1017px, -339px, -1017px, 333px, 79px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-desc_story03', );
$sd-icon-circle01-name: 'sd-icon_circle01';
$sd-icon-circle01-x: 1264px;
$sd-icon-circle01-y: 266px;
$sd-icon-circle01-offset-x: -1264px;
$sd-icon-circle01-offset-y: -266px;
$sd-icon-circle01-width: 5px;
$sd-icon-circle01-height: 5px;
$sd-icon-circle01-total-width: 1282px;
$sd-icon-circle01-total-height: 1137px;
$sd-icon-circle01-image: '/assets/images/sprites.png';
$sd-icon-circle01: (1264px, 266px, -1264px, -266px, 5px, 5px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-icon_circle01', );
$sd-icon-dots01-name: 'sd-icon_dots01';
$sd-icon-dots01-x: 1264px;
$sd-icon-dots01-y: 244px;
$sd-icon-dots01-offset-x: -1264px;
$sd-icon-dots01-offset-y: -244px;
$sd-icon-dots01-width: 15px;
$sd-icon-dots01-height: 16px;
$sd-icon-dots01-total-width: 1282px;
$sd-icon-dots01-total-height: 1137px;
$sd-icon-dots01-image: '/assets/images/sprites.png';
$sd-icon-dots01: (1264px, 244px, -1264px, -244px, 15px, 16px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-icon_dots01', );
$sd-icon-dots01-selected-name: 'sd-icon_dots01_selected';
$sd-icon-dots01-selected-x: 1262px;
$sd-icon-dots01-selected-y: 207px;
$sd-icon-dots01-selected-offset-x: -1262px;
$sd-icon-dots01-selected-offset-y: -207px;
$sd-icon-dots01-selected-width: 15px;
$sd-icon-dots01-selected-height: 16px;
$sd-icon-dots01-selected-total-width: 1282px;
$sd-icon-dots01-selected-total-height: 1137px;
$sd-icon-dots01-selected-image: '/assets/images/sprites.png';
$sd-icon-dots01-selected: (1262px, 207px, -1262px, -207px, 15px, 16px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-icon_dots01_selected', );
$sd-icon-story01-name: 'sd-icon_story01';
$sd-icon-story01-x: 1012px;
$sd-icon-story01-y: 640px;
$sd-icon-story01-offset-x: -1012px;
$sd-icon-story01-offset-y: -640px;
$sd-icon-story01-width: 91px;
$sd-icon-story01-height: 18px;
$sd-icon-story01-total-width: 1282px;
$sd-icon-story01-total-height: 1137px;
$sd-icon-story01-image: '/assets/images/sprites.png';
$sd-icon-story01: (1012px, 640px, -1012px, -640px, 91px, 18px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-icon_story01', );
$sd-icon-story01-b-name: 'sd-icon_story01_b';
$sd-icon-story01-b-x: 1148px;
$sd-icon-story01-b-y: 893px;
$sd-icon-story01-b-offset-x: -1148px;
$sd-icon-story01-b-offset-y: -893px;
$sd-icon-story01-b-width: 98px;
$sd-icon-story01-b-height: 24px;
$sd-icon-story01-b-total-width: 1282px;
$sd-icon-story01-b-total-height: 1137px;
$sd-icon-story01-b-image: '/assets/images/sprites.png';
$sd-icon-story01-b: (1148px, 893px, -1148px, -893px, 98px, 24px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-icon_story01_b', );
$sd-icon-story02-name: 'sd-icon_story02';
$sd-icon-story02-x: 1148px;
$sd-icon-story02-y: 923px;
$sd-icon-story02-offset-x: -1148px;
$sd-icon-story02-offset-y: -923px;
$sd-icon-story02-width: 91px;
$sd-icon-story02-height: 26px;
$sd-icon-story02-total-width: 1282px;
$sd-icon-story02-total-height: 1137px;
$sd-icon-story02-image: '/assets/images/sprites.png';
$sd-icon-story02: (1148px, 923px, -1148px, -923px, 91px, 26px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-icon_story02', );
$sd-icon-story02-b-name: 'sd-icon_story02_b';
$sd-icon-story02-b-x: 1148px;
$sd-icon-story02-b-y: 832px;
$sd-icon-story02-b-offset-x: -1148px;
$sd-icon-story02-b-offset-y: -832px;
$sd-icon-story02-b-width: 92px;
$sd-icon-story02-b-height: 29px;
$sd-icon-story02-b-total-width: 1282px;
$sd-icon-story02-b-total-height: 1137px;
$sd-icon-story02-b-image: '/assets/images/sprites.png';
$sd-icon-story02-b: (1148px, 832px, -1148px, -832px, 92px, 29px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-icon_story02_b', );
$sd-icon-story03-name: 'sd-icon_story03';
$sd-icon-story03-x: 1148px;
$sd-icon-story03-y: 867px;
$sd-icon-story03-offset-x: -1148px;
$sd-icon-story03-offset-y: -867px;
$sd-icon-story03-width: 114px;
$sd-icon-story03-height: 20px;
$sd-icon-story03-total-width: 1282px;
$sd-icon-story03-total-height: 1137px;
$sd-icon-story03-image: '/assets/images/sprites.png';
$sd-icon-story03: (1148px, 867px, -1148px, -867px, 114px, 20px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-icon_story03', );
$sd-icon-story03-b-name: 'sd-icon_story03_b';
$sd-icon-story03-b-x: 1148px;
$sd-icon-story03-b-y: 804px;
$sd-icon-story03-b-offset-x: -1148px;
$sd-icon-story03-b-offset-y: -804px;
$sd-icon-story03-b-width: 119px;
$sd-icon-story03-b-height: 22px;
$sd-icon-story03-b-total-width: 1282px;
$sd-icon-story03-b-total-height: 1137px;
$sd-icon-story03-b-image: '/assets/images/sprites.png';
$sd-icon-story03-b: (1148px, 804px, -1148px, -804px, 119px, 22px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-icon_story03_b', );
$sd-icon-via01-name: 'sd-icon_via01';
$sd-icon-via01-x: 1233px;
$sd-icon-via01-y: 376px;
$sd-icon-via01-offset-x: -1233px;
$sd-icon-via01-offset-y: -376px;
$sd-icon-via01-width: 23px;
$sd-icon-via01-height: 24px;
$sd-icon-via01-total-width: 1282px;
$sd-icon-via01-total-height: 1137px;
$sd-icon-via01-image: '/assets/images/sprites.png';
$sd-icon-via01: (1233px, 376px, -1233px, -376px, 23px, 24px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-icon_via01', );
$sd-icon-via02-name: 'sd-icon_via02';
$sd-icon-via02-x: 1233px;
$sd-icon-via02-y: 291px;
$sd-icon-via02-offset-x: -1233px;
$sd-icon-via02-offset-y: -291px;
$sd-icon-via02-width: 23px;
$sd-icon-via02-height: 24px;
$sd-icon-via02-total-width: 1282px;
$sd-icon-via02-total-height: 1137px;
$sd-icon-via02-image: '/assets/images/sprites.png';
$sd-icon-via02: (1233px, 291px, -1233px, -291px, 23px, 24px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-icon_via02', );
$sd-icon-via03-name: 'sd-icon_via03';
$sd-icon-via03-x: 1233px;
$sd-icon-via03-y: 207px;
$sd-icon-via03-offset-x: -1233px;
$sd-icon-via03-offset-y: -207px;
$sd-icon-via03-width: 23px;
$sd-icon-via03-height: 24px;
$sd-icon-via03-total-width: 1282px;
$sd-icon-via03-total-height: 1137px;
$sd-icon-via03-image: '/assets/images/sprites.png';
$sd-icon-via03: (1233px, 207px, -1233px, -207px, 23px, 24px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-icon_via03', );
$sd-list-guide-name: 'sd-list_guide';
$sd-list-guide-x: 0px;
$sd-list-guide-y: 955px;
$sd-list-guide-offset-x: 0px;
$sd-list-guide-offset-y: -955px;
$sd-list-guide-width: 899px;
$sd-list-guide-height: 56px;
$sd-list-guide-total-width: 1282px;
$sd-list-guide-total-height: 1137px;
$sd-list-guide-image: '/assets/images/sprites.png';
$sd-list-guide: (0px, 955px, 0px, -955px, 899px, 56px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-list_guide', );
$sd-logo01-name: 'sd-logo01';
$sd-logo01-x: 632px;
$sd-logo01-y: 461px;
$sd-logo01-offset-x: -632px;
$sd-logo01-offset-y: -461px;
$sd-logo01-width: 165px;
$sd-logo01-height: 43px;
$sd-logo01-total-width: 1282px;
$sd-logo01-total-height: 1137px;
$sd-logo01-image: '/assets/images/sprites.png';
$sd-logo01: (632px, 461px, -632px, -461px, 165px, 43px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-logo01', );
$sd-logo02-name: 'sd-logo02';
$sd-logo02-x: 1148px;
$sd-logo02-y: 669px;
$sd-logo02-offset-x: -1148px;
$sd-logo02-offset-y: -669px;
$sd-logo02-width: 131px;
$sd-logo02-height: 34px;
$sd-logo02-total-width: 1282px;
$sd-logo02-total-height: 1137px;
$sd-logo02-image: '/assets/images/sprites.png';
$sd-logo02: (1148px, 669px, -1148px, -669px, 131px, 34px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-logo02', );
$sd-nav01-name: 'sd-nav01';
$sd-nav01-x: 1148px;
$sd-nav01-y: 1040px;
$sd-nav01-offset-x: -1148px;
$sd-nav01-offset-y: -1040px;
$sd-nav01-width: 127px;
$sd-nav01-height: 15px;
$sd-nav01-total-width: 1282px;
$sd-nav01-total-height: 1137px;
$sd-nav01-image: '/assets/images/sprites.png';
$sd-nav01: (1148px, 1040px, -1148px, -1040px, 127px, 15px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-nav01', );
$sd-nav01-selected-name: 'sd-nav01_selected';
$sd-nav01-selected-x: 1148px;
$sd-nav01-selected-y: 1019px;
$sd-nav01-selected-offset-x: -1148px;
$sd-nav01-selected-offset-y: -1019px;
$sd-nav01-selected-width: 127px;
$sd-nav01-selected-height: 15px;
$sd-nav01-selected-total-width: 1282px;
$sd-nav01-selected-total-height: 1137px;
$sd-nav01-selected-image: '/assets/images/sprites.png';
$sd-nav01-selected: (1148px, 1019px, -1148px, -1019px, 127px, 15px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-nav01_selected', );
$sd-nav02-name: 'sd-nav02';
$sd-nav02-x: 1012px;
$sd-nav02-y: 683px;
$sd-nav02-offset-x: -1012px;
$sd-nav02-offset-y: -683px;
$sd-nav02-width: 112px;
$sd-nav02-height: 13px;
$sd-nav02-total-width: 1282px;
$sd-nav02-total-height: 1137px;
$sd-nav02-image: '/assets/images/sprites.png';
$sd-nav02: (1012px, 683px, -1012px, -683px, 112px, 13px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-nav02', );
$sd-nav02-selected-name: 'sd-nav02_selected';
$sd-nav02-selected-x: 1012px;
$sd-nav02-selected-y: 664px;
$sd-nav02-selected-offset-x: -1012px;
$sd-nav02-selected-offset-y: -664px;
$sd-nav02-selected-width: 112px;
$sd-nav02-selected-height: 13px;
$sd-nav02-selected-total-width: 1282px;
$sd-nav02-selected-total-height: 1137px;
$sd-nav02-selected-image: '/assets/images/sprites.png';
$sd-nav02-selected: (1012px, 664px, -1012px, -664px, 112px, 13px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-nav02_selected', );
$sd-nav03-name: 'sd-nav03';
$sd-nav03-x: 1148px;
$sd-nav03-y: 709px;
$sd-nav03-offset-x: -1148px;
$sd-nav03-offset-y: -709px;
$sd-nav03-width: 113px;
$sd-nav03-height: 27px;
$sd-nav03-total-width: 1282px;
$sd-nav03-total-height: 1137px;
$sd-nav03-image: '/assets/images/sprites.png';
$sd-nav03: (1148px, 709px, -1148px, -709px, 113px, 27px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-nav03', );
$sd-nav03-selected-name: 'sd-nav03_selected';
$sd-nav03-selected-x: 1148px;
$sd-nav03-selected-y: 742px;
$sd-nav03-selected-offset-x: -1148px;
$sd-nav03-selected-offset-y: -742px;
$sd-nav03-selected-width: 113px;
$sd-nav03-selected-height: 27px;
$sd-nav03-selected-total-width: 1282px;
$sd-nav03-selected-total-height: 1137px;
$sd-nav03-selected-image: '/assets/images/sprites.png';
$sd-nav03-selected: (1148px, 742px, -1148px, -742px, 113px, 27px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-nav03_selected', );
$sd-radio-agreement01-name: 'sd-radio_agreement01';
$sd-radio-agreement01-x: 1012px;
$sd-radio-agreement01-y: 608px;
$sd-radio-agreement01-offset-x: -1012px;
$sd-radio-agreement01-offset-y: -608px;
$sd-radio-agreement01-width: 69px;
$sd-radio-agreement01-height: 26px;
$sd-radio-agreement01-total-width: 1282px;
$sd-radio-agreement01-total-height: 1137px;
$sd-radio-agreement01-image: '/assets/images/sprites.png';
$sd-radio-agreement01: (1012px, 608px, -1012px, -608px, 69px, 26px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-radio_agreement01', );
$sd-radio-agreement01-selected-name: 'sd-radio_agreement01_selected';
$sd-radio-agreement01-selected-x: 1012px;
$sd-radio-agreement01-selected-y: 576px;
$sd-radio-agreement01-selected-offset-x: -1012px;
$sd-radio-agreement01-selected-offset-y: -576px;
$sd-radio-agreement01-selected-width: 69px;
$sd-radio-agreement01-selected-height: 26px;
$sd-radio-agreement01-selected-total-width: 1282px;
$sd-radio-agreement01-selected-total-height: 1137px;
$sd-radio-agreement01-selected-image: '/assets/images/sprites.png';
$sd-radio-agreement01-selected: (1012px, 576px, -1012px, -576px, 69px, 26px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-radio_agreement01_selected', );
$sd-radio-agreement02-name: 'sd-radio_agreement02';
$sd-radio-agreement02-x: 1148px;
$sd-radio-agreement02-y: 955px;
$sd-radio-agreement02-offset-x: -1148px;
$sd-radio-agreement02-offset-y: -955px;
$sd-radio-agreement02-width: 82px;
$sd-radio-agreement02-height: 26px;
$sd-radio-agreement02-total-width: 1282px;
$sd-radio-agreement02-total-height: 1137px;
$sd-radio-agreement02-image: '/assets/images/sprites.png';
$sd-radio-agreement02: (1148px, 955px, -1148px, -955px, 82px, 26px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-radio_agreement02', );
$sd-radio-agreement02-selected-name: 'sd-radio_agreement02_selected';
$sd-radio-agreement02-selected-x: 1148px;
$sd-radio-agreement02-selected-y: 987px;
$sd-radio-agreement02-selected-offset-x: -1148px;
$sd-radio-agreement02-selected-offset-y: -987px;
$sd-radio-agreement02-selected-width: 82px;
$sd-radio-agreement02-selected-height: 26px;
$sd-radio-agreement02-selected-total-width: 1282px;
$sd-radio-agreement02-selected-total-height: 1137px;
$sd-radio-agreement02-selected-image: '/assets/images/sprites.png';
$sd-radio-agreement02-selected: (1148px, 987px, -1148px, -987px, 82px, 26px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-radio_agreement02_selected', );
$sd-radio-video01-name: 'sd-radio_video01';
$sd-radio-video01-x: 832px;
$sd-radio-video01-y: 288px;
$sd-radio-video01-offset-x: -832px;
$sd-radio-video01-offset-y: -288px;
$sd-radio-video01-width: 310px;
$sd-radio-video01-height: 282px;
$sd-radio-video01-total-width: 1282px;
$sd-radio-video01-total-height: 1137px;
$sd-radio-video01-image: '/assets/images/sprites.png';
$sd-radio-video01: (832px, 288px, -832px, -288px, 310px, 282px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-radio_video01', );
$sd-radio-video01-selected-name: 'sd-radio_video01_selected';
$sd-radio-video01-selected-x: 316px;
$sd-radio-video01-selected-y: 255px;
$sd-radio-video01-selected-offset-x: -316px;
$sd-radio-video01-selected-offset-y: -255px;
$sd-radio-video01-selected-width: 310px;
$sd-radio-video01-selected-height: 282px;
$sd-radio-video01-selected-total-width: 1282px;
$sd-radio-video01-selected-total-height: 1137px;
$sd-radio-video01-selected-image: '/assets/images/sprites.png';
$sd-radio-video01-selected: (316px, 255px, -316px, -255px, 310px, 282px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-radio_video01_selected', );
$sd-radio-video02-name: 'sd-radio_video02';
$sd-radio-video02-x: 0px;
$sd-radio-video02-y: 255px;
$sd-radio-video02-offset-x: 0px;
$sd-radio-video02-offset-y: -255px;
$sd-radio-video02-width: 310px;
$sd-radio-video02-height: 282px;
$sd-radio-video02-total-width: 1282px;
$sd-radio-video02-total-height: 1137px;
$sd-radio-video02-image: '/assets/images/sprites.png';
$sd-radio-video02: (0px, 255px, 0px, -255px, 310px, 282px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-radio_video02', );
$sd-radio-video02-selected-name: 'sd-radio_video02_selected';
$sd-radio-video02-selected-x: 832px;
$sd-radio-video02-selected-y: 0px;
$sd-radio-video02-selected-offset-x: -832px;
$sd-radio-video02-selected-offset-y: 0px;
$sd-radio-video02-selected-width: 310px;
$sd-radio-video02-selected-height: 282px;
$sd-radio-video02-selected-total-width: 1282px;
$sd-radio-video02-selected-total-height: 1137px;
$sd-radio-video02-selected-image: '/assets/images/sprites.png';
$sd-radio-video02-selected: (832px, 0px, -832px, 0px, 310px, 282px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-radio_video02_selected', );
$sd-radio-video03-name: 'sd-radio_video03';
$sd-radio-video03-x: 316px;
$sd-radio-video03-y: 543px;
$sd-radio-video03-offset-x: -316px;
$sd-radio-video03-offset-y: -543px;
$sd-radio-video03-width: 310px;
$sd-radio-video03-height: 282px;
$sd-radio-video03-total-width: 1282px;
$sd-radio-video03-total-height: 1137px;
$sd-radio-video03-image: '/assets/images/sprites.png';
$sd-radio-video03: (316px, 543px, -316px, -543px, 310px, 282px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-radio_video03', );
$sd-radio-video03-selected-name: 'sd-radio_video03_selected';
$sd-radio-video03-selected-x: 0px;
$sd-radio-video03-selected-y: 543px;
$sd-radio-video03-selected-offset-x: 0px;
$sd-radio-video03-selected-offset-y: -543px;
$sd-radio-video03-selected-width: 310px;
$sd-radio-video03-selected-height: 282px;
$sd-radio-video03-selected-total-width: 1282px;
$sd-radio-video03-selected-total-height: 1137px;
$sd-radio-video03-selected-image: '/assets/images/sprites.png';
$sd-radio-video03-selected: (0px, 543px, 0px, -543px, 310px, 282px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-radio_video03_selected', );
$sd-title-section01-name: 'sd-title_section01';
$sd-title-section01-x: 0px;
$sd-title-section01-y: 126px;
$sd-title-section01-offset-x: 0px;
$sd-title-section01-offset-y: -126px;
$sd-title-section01-width: 710px;
$sd-title-section01-height: 123px;
$sd-title-section01-total-width: 1282px;
$sd-title-section01-total-height: 1137px;
$sd-title-section01-image: '/assets/images/sprites.png';
$sd-title-section01: (0px, 126px, 0px, -126px, 710px, 123px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-title_section01', );
$sd-title-section02-name: 'sd-title_section02';
$sd-title-section02-x: 0px;
$sd-title-section02-y: 0px;
$sd-title-section02-offset-x: 0px;
$sd-title-section02-offset-y: 0px;
$sd-title-section02-width: 826px;
$sd-title-section02-height: 120px;
$sd-title-section02-total-width: 1282px;
$sd-title-section02-total-height: 1137px;
$sd-title-section02-image: '/assets/images/sprites.png';
$sd-title-section02: (0px, 0px, 0px, 0px, 826px, 120px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-title_section02', );
$sd-title-section-guide-name: 'sd-title_section_guide';
$sd-title-section-guide-x: 1148px;
$sd-title-section-guide-y: 775px;
$sd-title-section-guide-offset-x: -1148px;
$sd-title-section-guide-offset-y: -775px;
$sd-title-section-guide-width: 127px;
$sd-title-section-guide-height: 23px;
$sd-title-section-guide-total-width: 1282px;
$sd-title-section-guide-total-height: 1137px;
$sd-title-section-guide-image: '/assets/images/sprites.png';
$sd-title-section-guide: (1148px, 775px, -1148px, -775px, 127px, 23px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-title_section_guide', );
$sd-title-section-your-story-name: 'sd-title_section_your_story';
$sd-title-section-your-story-x: 0px;
$sd-title-section-your-story-y: 831px;
$sd-title-section-your-story-offset-x: 0px;
$sd-title-section-your-story-offset-y: -831px;
$sd-title-section-your-story-width: 684px;
$sd-title-section-your-story-height: 118px;
$sd-title-section-your-story-total-width: 1282px;
$sd-title-section-your-story-total-height: 1137px;
$sd-title-section-your-story-image: '/assets/images/sprites.png';
$sd-title-section-your-story: (0px, 831px, 0px, -831px, 684px, 118px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-title_section_your_story', );
$sd-txt-address-name: 'sd-txt_address';
$sd-txt-address-x: 899px;
$sd-txt-address-y: 1103px;
$sd-txt-address-offset-x: -899px;
$sd-txt-address-offset-y: -1103px;
$sd-txt-address-width: 336px;
$sd-txt-address-height: 11px;
$sd-txt-address-total-width: 1282px;
$sd-txt-address-total-height: 1137px;
$sd-txt-address-image: '/assets/images/sprites.png';
$sd-txt-address: (899px, 1103px, -899px, -1103px, 336px, 11px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-txt_address', );
$sd-txt-comments01-name: 'sd-txt_comments01';
$sd-txt-comments01-x: 355px;
$sd-txt-comments01-y: 1103px;
$sd-txt-comments01-offset-x: -355px;
$sd-txt-comments01-offset-y: -1103px;
$sd-txt-comments01-width: 293px;
$sd-txt-comments01-height: 19px;
$sd-txt-comments01-total-width: 1282px;
$sd-txt-comments01-total-height: 1137px;
$sd-txt-comments01-image: '/assets/images/sprites.png';
$sd-txt-comments01: (355px, 1103px, -355px, -1103px, 293px, 19px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-txt_comments01', );
$sd-txt-copyright-name: 'sd-txt_copyright';
$sd-txt-copyright-x: 678px;
$sd-txt-copyright-y: 1079px;
$sd-txt-copyright-offset-x: -678px;
$sd-txt-copyright-offset-y: -1079px;
$sd-txt-copyright-width: 375px;
$sd-txt-copyright-height: 12px;
$sd-txt-copyright-total-width: 1282px;
$sd-txt-copyright-total-height: 1137px;
$sd-txt-copyright-image: '/assets/images/sprites.png';
$sd-txt-copyright: (678px, 1079px, -678px, -1079px, 375px, 12px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-txt_copyright', );
$sd-txt-duration-event-name: 'sd-txt_duration_event';
$sd-txt-duration-event-x: 690px;
$sd-txt-duration-event-y: 918px;
$sd-txt-duration-event-offset-x: -690px;
$sd-txt-duration-event-offset-y: -918px;
$sd-txt-duration-event-width: 405px;
$sd-txt-duration-event-height: 24px;
$sd-txt-duration-event-total-width: 1282px;
$sd-txt-duration-event-total-height: 1137px;
$sd-txt-duration-event-image: '/assets/images/sprites.png';
$sd-txt-duration-event: (690px, 918px, -690px, -918px, 405px, 24px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-txt_duration_event', );
$sd-txt-from01-name: 'sd-txt_from01';
$sd-txt-from01-x: 1233px;
$sd-txt-from01-y: 481px;
$sd-txt-from01-offset-x: -1233px;
$sd-txt-from01-offset-y: -481px;
$sd-txt-from01-width: 34px;
$sd-txt-from01-height: 11px;
$sd-txt-from01-total-width: 1282px;
$sd-txt-from01-total-height: 1137px;
$sd-txt-from01-image: '/assets/images/sprites.png';
$sd-txt-from01: (1233px, 481px, -1233px, -481px, 34px, 11px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-txt_from01', );
$sd-txt-name01-name: 'sd-txt_name01';
$sd-txt-name01-x: 1233px;
$sd-txt-name01-y: 546px;
$sd-txt-name01-offset-x: -1233px;
$sd-txt-name01-offset-y: -546px;
$sd-txt-name01-width: 23px;
$sd-txt-name01-height: 13px;
$sd-txt-name01-total-width: 1282px;
$sd-txt-name01-total-height: 1137px;
$sd-txt-name01-image: '/assets/images/sprites.png';
$sd-txt-name01: (1233px, 546px, -1233px, -546px, 23px, 13px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-txt_name01', );
$sd-txt-phone01-name: 'sd-txt_phone01';
$sd-txt-phone01-x: 1233px;
$sd-txt-phone01-y: 461px;
$sd-txt-phone01-offset-x: -1233px;
$sd-txt-phone01-offset-y: -461px;
$sd-txt-phone01-width: 35px;
$sd-txt-phone01-height: 14px;
$sd-txt-phone01-total-width: 1282px;
$sd-txt-phone01-total-height: 1137px;
$sd-txt-phone01-image: '/assets/images/sprites.png';
$sd-txt-phone01: (1233px, 461px, -1233px, -461px, 35px, 14px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-txt_phone01', );
$sd-txt-sns-login-name: 'sd-txt_sns_login';
$sd-txt-sns-login-x: 632px;
$sd-txt-sns-login-y: 510px;
$sd-txt-sns-login-offset-x: -632px;
$sd-txt-sns-login-offset-y: -510px;
$sd-txt-sns-login-width: 185px;
$sd-txt-sns-login-height: 19px;
$sd-txt-sns-login-total-width: 1282px;
$sd-txt-sns-login-total-height: 1137px;
$sd-txt-sns-login-image: '/assets/images/sprites.png';
$sd-txt-sns-login: (632px, 510px, -632px, -510px, 185px, 19px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-txt_sns_login', );
$sd-txt-title-popup01-name: 'sd-txt_title_popup01';
$sd-txt-title-popup01-x: 678px;
$sd-txt-title-popup01-y: 1017px;
$sd-txt-title-popup01-offset-x: -678px;
$sd-txt-title-popup01-offset-y: -1017px;
$sd-txt-title-popup01-width: 349px;
$sd-txt-title-popup01-height: 56px;
$sd-txt-title-popup01-total-width: 1282px;
$sd-txt-title-popup01-total-height: 1137px;
$sd-txt-title-popup01-image: '/assets/images/sprites.png';
$sd-txt-title-popup01: (678px, 1017px, -678px, -1017px, 349px, 56px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-txt_title_popup01', );
$sd-txt-title-popup02-name: 'sd-txt_title_popup02';
$sd-txt-title-popup02-x: 832px;
$sd-txt-title-popup02-y: 782px;
$sd-txt-title-popup02-offset-x: -832px;
$sd-txt-title-popup02-offset-y: -782px;
$sd-txt-title-popup02-width: 264px;
$sd-txt-title-popup02-height: 33px;
$sd-txt-title-popup02-total-width: 1282px;
$sd-txt-title-popup02-total-height: 1137px;
$sd-txt-title-popup02-image: '/assets/images/sprites.png';
$sd-txt-title-popup02: (832px, 782px, -832px, -782px, 264px, 33px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-txt_title_popup02', );
$sd-txt-title-popup03-name: 'sd-txt_title_popup03';
$sd-txt-title-popup03-x: 632px;
$sd-txt-title-popup03-y: 749px;
$sd-txt-title-popup03-offset-x: -632px;
$sd-txt-title-popup03-offset-y: -749px;
$sd-txt-title-popup03-width: 183px;
$sd-txt-title-popup03-height: 33px;
$sd-txt-title-popup03-total-width: 1282px;
$sd-txt-title-popup03-total-height: 1137px;
$sd-txt-title-popup03-image: '/assets/images/sprites.png';
$sd-txt-title-popup03: (632px, 749px, -632px, -749px, 183px, 33px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-txt_title_popup03', );
$sd-txt-title-video-name: 'sd-txt_title_video';
$sd-txt-title-video-x: 654px;
$sd-txt-title-video-y: 1103px;
$sd-txt-title-video-offset-x: -654px;
$sd-txt-title-video-offset-y: -1103px;
$sd-txt-title-video-width: 239px;
$sd-txt-title-video-height: 19px;
$sd-txt-title-video-total-width: 1282px;
$sd-txt-title-video-total-height: 1137px;
$sd-txt-title-video-image: '/assets/images/sprites.png';
$sd-txt-title-video: (654px, 1103px, -654px, -1103px, 239px, 19px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-txt_title_video', );
$sd-txt-write01-name: 'sd-txt_write01';
$sd-txt-write01-x: 1148px;
$sd-txt-write01-y: 1061px;
$sd-txt-write01-offset-x: -1148px;
$sd-txt-write01-offset-y: -1061px;
$sd-txt-write01-width: 105px;
$sd-txt-write01-height: 19px;
$sd-txt-write01-total-width: 1282px;
$sd-txt-write01-total-height: 1137px;
$sd-txt-write01-image: '/assets/images/sprites.png';
$sd-txt-write01: (1148px, 1061px, -1148px, -1061px, 105px, 19px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-txt_write01', );
$sd-txt-your-story-name: 'sd-txt_your_story';
$sd-txt-your-story-x: 0px;
$sd-txt-your-story-y: 1103px;
$sd-txt-your-story-offset-x: 0px;
$sd-txt-your-story-offset-y: -1103px;
$sd-txt-your-story-width: 349px;
$sd-txt-your-story-height: 34px;
$sd-txt-your-story-total-width: 1282px;
$sd-txt-your-story-total-height: 1137px;
$sd-txt-your-story-image: '/assets/images/sprites.png';
$sd-txt-your-story: (0px, 1103px, 0px, -1103px, 349px, 34px, 1282px, 1137px, '/assets/images/sprites.png', 'sd-txt_your_story', );
$spritesheet-width: 1282px;
$spritesheet-height: 1137px;
$spritesheet-image: '/assets/images/sprites.png';
$spritesheet-sprites: ($sd-btn-application01, $sd-btn-close01, $sd-btn-facebook, $sd-btn-facebook-selected, $sd-btn-kakaostory, $sd-btn-kakaostory-selected, $sd-btn-more01, $sd-btn-next01, $sd-btn-next01-selected, $sd-btn-prev01, $sd-btn-prev01-selected, $sd-btn-story01, $sd-btn-story02, $sd-btn-story03, $sd-btn-twitter, $sd-btn-twitter-selected, $sd-desc-story01, $sd-desc-story02, $sd-desc-story03, $sd-icon-circle01, $sd-icon-dots01, $sd-icon-dots01-selected, $sd-icon-story01, $sd-icon-story01-b, $sd-icon-story02, $sd-icon-story02-b, $sd-icon-story03, $sd-icon-story03-b, $sd-icon-via01, $sd-icon-via02, $sd-icon-via03, $sd-list-guide, $sd-logo01, $sd-logo02, $sd-nav01, $sd-nav01-selected, $sd-nav02, $sd-nav02-selected, $sd-nav03, $sd-nav03-selected, $sd-radio-agreement01, $sd-radio-agreement01-selected, $sd-radio-agreement02, $sd-radio-agreement02-selected, $sd-radio-video01, $sd-radio-video01-selected, $sd-radio-video02, $sd-radio-video02-selected, $sd-radio-video03, $sd-radio-video03-selected, $sd-title-section01, $sd-title-section02, $sd-title-section-guide, $sd-title-section-your-story, $sd-txt-address, $sd-txt-comments01, $sd-txt-copyright, $sd-txt-duration-event, $sd-txt-from01, $sd-txt-name01, $sd-txt-phone01, $sd-txt-sns-login, $sd-txt-title-popup01, $sd-txt-title-popup02, $sd-txt-title-popup03, $sd-txt-title-video, $sd-txt-write01, $sd-txt-your-story, );
$spritesheet: (1282px, 1137px, '/assets/images/sprites.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
