/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sd-btn-application01-name: 'sd-btn_application01';
$sd-btn-application01-x: 1162px;
$sd-btn-application01-y: 365px;
$sd-btn-application01-offset-x: -1162px;
$sd-btn-application01-offset-y: -365px;
$sd-btn-application01-width: 134px;
$sd-btn-application01-height: 152px;
$sd-btn-application01-total-width: 1336px;
$sd-btn-application01-total-height: 1253px;
$sd-btn-application01-image: '/assets/images/sprites.png';
$sd-btn-application01: (1162px, 365px, -1162px, -365px, 134px, 152px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-btn_application01', );
$sd-btn-close01-name: 'sd-btn_close01';
$sd-btn-close01-x: 0px;
$sd-btn-close01-y: 1211px;
$sd-btn-close01-offset-x: 0px;
$sd-btn-close01-offset-y: -1211px;
$sd-btn-close01-width: 42px;
$sd-btn-close01-height: 42px;
$sd-btn-close01-total-width: 1336px;
$sd-btn-close01-total-height: 1253px;
$sd-btn-close01-image: '/assets/images/sprites.png';
$sd-btn-close01: (0px, 1211px, 0px, -1211px, 42px, 42px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-btn_close01', );
$sd-btn-confirm01-name: 'sd-btn_confirm01';
$sd-btn-confirm01-x: 1162px;
$sd-btn-confirm01-y: 206px;
$sd-btn-confirm01-offset-x: -1162px;
$sd-btn-confirm01-offset-y: -206px;
$sd-btn-confirm01-width: 134px;
$sd-btn-confirm01-height: 153px;
$sd-btn-confirm01-total-width: 1336px;
$sd-btn-confirm01-total-height: 1253px;
$sd-btn-confirm01-image: '/assets/images/sprites.png';
$sd-btn-confirm01: (1162px, 206px, -1162px, -206px, 134px, 153px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-btn_confirm01', );
$sd-btn-facebook-name: 'sd-btn_facebook';
$sd-btn-facebook-x: 1162px;
$sd-btn-facebook-y: 572px;
$sd-btn-facebook-offset-x: -1162px;
$sd-btn-facebook-offset-y: -572px;
$sd-btn-facebook-width: 79px;
$sd-btn-facebook-height: 79px;
$sd-btn-facebook-total-width: 1336px;
$sd-btn-facebook-total-height: 1253px;
$sd-btn-facebook-image: '/assets/images/sprites.png';
$sd-btn-facebook: (1162px, 572px, -1162px, -572px, 79px, 79px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-btn_facebook', );
$sd-btn-facebook-selected-name: 'sd-btn_facebook_selected';
$sd-btn-facebook-selected-x: 1247px;
$sd-btn-facebook-selected-y: 572px;
$sd-btn-facebook-selected-offset-x: -1247px;
$sd-btn-facebook-selected-offset-y: -572px;
$sd-btn-facebook-selected-width: 79px;
$sd-btn-facebook-selected-height: 79px;
$sd-btn-facebook-selected-total-width: 1336px;
$sd-btn-facebook-selected-total-height: 1253px;
$sd-btn-facebook-selected-image: '/assets/images/sprites.png';
$sd-btn-facebook-selected: (1247px, 572px, -1247px, -572px, 79px, 79px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-btn_facebook_selected', );
$sd-btn-kakaostory-name: 'sd-btn_kakaostory';
$sd-btn-kakaostory-x: 1162px;
$sd-btn-kakaostory-y: 657px;
$sd-btn-kakaostory-offset-x: -1162px;
$sd-btn-kakaostory-offset-y: -657px;
$sd-btn-kakaostory-width: 79px;
$sd-btn-kakaostory-height: 79px;
$sd-btn-kakaostory-total-width: 1336px;
$sd-btn-kakaostory-total-height: 1253px;
$sd-btn-kakaostory-image: '/assets/images/sprites.png';
$sd-btn-kakaostory: (1162px, 657px, -1162px, -657px, 79px, 79px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-btn_kakaostory', );
$sd-btn-kakaostory-selected-name: 'sd-btn_kakaostory_selected';
$sd-btn-kakaostory-selected-x: 1162px;
$sd-btn-kakaostory-selected-y: 742px;
$sd-btn-kakaostory-selected-offset-x: -1162px;
$sd-btn-kakaostory-selected-offset-y: -742px;
$sd-btn-kakaostory-selected-width: 79px;
$sd-btn-kakaostory-selected-height: 79px;
$sd-btn-kakaostory-selected-total-width: 1336px;
$sd-btn-kakaostory-selected-total-height: 1253px;
$sd-btn-kakaostory-selected-image: '/assets/images/sprites.png';
$sd-btn-kakaostory-selected: (1162px, 742px, -1162px, -742px, 79px, 79px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-btn_kakaostory_selected', );
$sd-btn-more01-name: 'sd-btn_more01';
$sd-btn-more01-x: 754px;
$sd-btn-more01-y: 677px;
$sd-btn-more01-offset-x: -754px;
$sd-btn-more01-offset-y: -677px;
$sd-btn-more01-width: 68px;
$sd-btn-more01-height: 15px;
$sd-btn-more01-total-width: 1336px;
$sd-btn-more01-total-height: 1253px;
$sd-btn-more01-image: '/assets/images/sprites.png';
$sd-btn-more01: (754px, 677px, -754px, -677px, 68px, 15px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-btn_more01', );
$sd-btn-next01-name: 'sd-btn_next01';
$sd-btn-next01-x: 1302px;
$sd-btn-next01-y: 300px;
$sd-btn-next01-offset-x: -1302px;
$sd-btn-next01-offset-y: -300px;
$sd-btn-next01-width: 25px;
$sd-btn-next01-height: 41px;
$sd-btn-next01-total-width: 1336px;
$sd-btn-next01-total-height: 1253px;
$sd-btn-next01-image: '/assets/images/sprites.png';
$sd-btn-next01: (1302px, 300px, -1302px, -300px, 25px, 41px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-btn_next01', );
$sd-btn-next01-selected-name: 'sd-btn_next01_selected';
$sd-btn-next01-selected-x: 1302px;
$sd-btn-next01-selected-y: 253px;
$sd-btn-next01-selected-offset-x: -1302px;
$sd-btn-next01-selected-offset-y: -253px;
$sd-btn-next01-selected-width: 25px;
$sd-btn-next01-selected-height: 41px;
$sd-btn-next01-selected-total-width: 1336px;
$sd-btn-next01-selected-total-height: 1253px;
$sd-btn-next01-selected-image: '/assets/images/sprites.png';
$sd-btn-next01-selected: (1302px, 253px, -1302px, -253px, 25px, 41px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-btn_next01_selected', );
$sd-btn-prev01-name: 'sd-btn_prev01';
$sd-btn-prev01-x: 1302px;
$sd-btn-prev01-y: 206px;
$sd-btn-prev01-offset-x: -1302px;
$sd-btn-prev01-offset-y: -206px;
$sd-btn-prev01-width: 25px;
$sd-btn-prev01-height: 41px;
$sd-btn-prev01-total-width: 1336px;
$sd-btn-prev01-total-height: 1253px;
$sd-btn-prev01-image: '/assets/images/sprites.png';
$sd-btn-prev01: (1302px, 206px, -1302px, -206px, 25px, 41px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-btn_prev01', );
$sd-btn-prev01-selected-name: 'sd-btn_prev01_selected';
$sd-btn-prev01-selected-x: 1302px;
$sd-btn-prev01-selected-y: 365px;
$sd-btn-prev01-selected-offset-x: -1302px;
$sd-btn-prev01-selected-offset-y: -365px;
$sd-btn-prev01-selected-width: 25px;
$sd-btn-prev01-selected-height: 41px;
$sd-btn-prev01-selected-total-width: 1336px;
$sd-btn-prev01-selected-total-height: 1253px;
$sd-btn-prev01-selected-image: '/assets/images/sprites.png';
$sd-btn-prev01-selected: (1302px, 365px, -1302px, -365px, 25px, 41px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-btn_prev01_selected', );
$sd-btn-story01-name: 'sd-btn_story01';
$sd-btn-story01-x: 1162px;
$sd-btn-story01-y: 0px;
$sd-btn-story01-offset-x: -1162px;
$sd-btn-story01-offset-y: 0px;
$sd-btn-story01-width: 174px;
$sd-btn-story01-height: 200px;
$sd-btn-story01-total-width: 1336px;
$sd-btn-story01-total-height: 1253px;
$sd-btn-story01-image: '/assets/images/sprites.png';
$sd-btn-story01: (1162px, 0px, -1162px, 0px, 174px, 200px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-btn_story01', );
$sd-btn-story02-name: 'sd-btn_story02';
$sd-btn-story02-x: 632px;
$sd-btn-story02-y: 123px;
$sd-btn-story02-offset-x: -632px;
$sd-btn-story02-offset-y: -123px;
$sd-btn-story02-width: 174px;
$sd-btn-story02-height: 200px;
$sd-btn-story02-total-width: 1336px;
$sd-btn-story02-total-height: 1253px;
$sd-btn-story02-image: '/assets/images/sprites.png';
$sd-btn-story02: (632px, 123px, -632px, -123px, 174px, 200px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-btn_story02', );
$sd-btn-story03-name: 'sd-btn_story03';
$sd-btn-story03-x: 632px;
$sd-btn-story03-y: 413px;
$sd-btn-story03-offset-x: -632px;
$sd-btn-story03-offset-y: -413px;
$sd-btn-story03-width: 174px;
$sd-btn-story03-height: 200px;
$sd-btn-story03-total-width: 1336px;
$sd-btn-story03-total-height: 1253px;
$sd-btn-story03-image: '/assets/images/sprites.png';
$sd-btn-story03: (632px, 413px, -632px, -413px, 174px, 200px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-btn_story03', );
$sd-btn-twitter-name: 'sd-btn_twitter';
$sd-btn-twitter-x: 1247px;
$sd-btn-twitter-y: 742px;
$sd-btn-twitter-offset-x: -1247px;
$sd-btn-twitter-offset-y: -742px;
$sd-btn-twitter-width: 79px;
$sd-btn-twitter-height: 79px;
$sd-btn-twitter-total-width: 1336px;
$sd-btn-twitter-total-height: 1253px;
$sd-btn-twitter-image: '/assets/images/sprites.png';
$sd-btn-twitter: (1247px, 742px, -1247px, -742px, 79px, 79px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-btn_twitter', );
$sd-btn-twitter-selected-name: 'sd-btn_twitter_selected';
$sd-btn-twitter-selected-x: 1247px;
$sd-btn-twitter-selected-y: 657px;
$sd-btn-twitter-selected-offset-x: -1247px;
$sd-btn-twitter-selected-offset-y: -657px;
$sd-btn-twitter-selected-width: 79px;
$sd-btn-twitter-selected-height: 79px;
$sd-btn-twitter-selected-total-width: 1336px;
$sd-btn-twitter-selected-total-height: 1253px;
$sd-btn-twitter-selected-image: '/assets/images/sprites.png';
$sd-btn-twitter-selected: (1247px, 657px, -1247px, -657px, 79px, 79px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-btn_twitter_selected', );
$sd-desc-story01-name: 'sd-desc_story01';
$sd-desc-story01-x: 583px;
$sd-desc-story01-y: 825px;
$sd-desc-story01-offset-x: -583px;
$sd-desc-story01-offset-y: -825px;
$sd-desc-story01-width: 343px;
$sd-desc-story01-height: 80px;
$sd-desc-story01-total-width: 1336px;
$sd-desc-story01-total-height: 1253px;
$sd-desc-story01-image: '/assets/images/sprites.png';
$sd-desc-story01: (583px, 825px, -583px, -825px, 343px, 80px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-desc_story01', );
$sd-desc-story02-name: 'sd-desc_story02';
$sd-desc-story02-x: 675px;
$sd-desc-story02-y: 703px;
$sd-desc-story02-offset-x: -675px;
$sd-desc-story02-offset-y: -703px;
$sd-desc-story02-width: 376px;
$sd-desc-story02-height: 80px;
$sd-desc-story02-total-width: 1336px;
$sd-desc-story02-total-height: 1253px;
$sd-desc-story02-image: '/assets/images/sprites.png';
$sd-desc-story02: (675px, 703px, -675px, -703px, 376px, 80px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-desc_story02', );
$sd-desc-story03-name: 'sd-desc_story03';
$sd-desc-story03-x: 272px;
$sd-desc-story03-y: 1016px;
$sd-desc-story03-offset-x: -272px;
$sd-desc-story03-offset-y: -1016px;
$sd-desc-story03-width: 343px;
$sd-desc-story03-height: 80px;
$sd-desc-story03-total-width: 1336px;
$sd-desc-story03-total-height: 1253px;
$sd-desc-story03-image: '/assets/images/sprites.png';
$sd-desc-story03: (272px, 1016px, -272px, -1016px, 343px, 80px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-desc_story03', );
$sd-icon-circle01-name: 'sd-icon_circle01';
$sd-icon-circle01-x: 1331px;
$sd-icon-circle01-y: 412px;
$sd-icon-circle01-offset-x: -1331px;
$sd-icon-circle01-offset-y: -412px;
$sd-icon-circle01-width: 5px;
$sd-icon-circle01-height: 5px;
$sd-icon-circle01-total-width: 1336px;
$sd-icon-circle01-total-height: 1253px;
$sd-icon-circle01-image: '/assets/images/sprites.png';
$sd-icon-circle01: (1331px, 412px, -1331px, -412px, 5px, 5px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-icon_circle01', );
$sd-icon-dots01-name: 'sd-icon_dots01';
$sd-icon-dots01-x: 1284px;
$sd-icon-dots01-y: 867px;
$sd-icon-dots01-offset-x: -1284px;
$sd-icon-dots01-offset-y: -867px;
$sd-icon-dots01-width: 15px;
$sd-icon-dots01-height: 16px;
$sd-icon-dots01-total-width: 1336px;
$sd-icon-dots01-total-height: 1253px;
$sd-icon-dots01-image: '/assets/images/sprites.png';
$sd-icon-dots01: (1284px, 867px, -1284px, -867px, 15px, 16px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-icon_dots01', );
$sd-icon-dots01-selected-name: 'sd-icon_dots01_selected';
$sd-icon-dots01-selected-x: 1305px;
$sd-icon-dots01-selected-y: 867px;
$sd-icon-dots01-selected-offset-x: -1305px;
$sd-icon-dots01-selected-offset-y: -867px;
$sd-icon-dots01-selected-width: 15px;
$sd-icon-dots01-selected-height: 16px;
$sd-icon-dots01-selected-total-width: 1336px;
$sd-icon-dots01-selected-total-height: 1253px;
$sd-icon-dots01-selected-image: '/assets/images/sprites.png';
$sd-icon-dots01-selected: (1305px, 867px, -1305px, -867px, 15px, 16px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-icon_dots01_selected', );
$sd-icon-story01-name: 'sd-icon_story01';
$sd-icon-story01-x: 362px;
$sd-icon-story01-y: 1150px;
$sd-icon-story01-offset-x: -362px;
$sd-icon-story01-offset-y: -1150px;
$sd-icon-story01-width: 93px;
$sd-icon-story01-height: 18px;
$sd-icon-story01-total-width: 1336px;
$sd-icon-story01-total-height: 1253px;
$sd-icon-story01-image: '/assets/images/sprites.png';
$sd-icon-story01: (362px, 1150px, -362px, -1150px, 93px, 18px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-icon_story01', );
$sd-icon-story01-b-name: 'sd-icon_story01_b';
$sd-icon-story01-b-x: 932px;
$sd-icon-story01-b-y: 825px;
$sd-icon-story01-b-offset-x: -932px;
$sd-icon-story01-b-offset-y: -825px;
$sd-icon-story01-b-width: 100px;
$sd-icon-story01-b-height: 24px;
$sd-icon-story01-b-total-width: 1336px;
$sd-icon-story01-b-total-height: 1253px;
$sd-icon-story01-b-image: '/assets/images/sprites.png';
$sd-icon-story01-b: (932px, 825px, -932px, -825px, 100px, 24px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-icon_story01_b', );
$sd-icon-story02-name: 'sd-icon_story02';
$sd-icon-story02-x: 1057px;
$sd-icon-story02-y: 738px;
$sd-icon-story02-offset-x: -1057px;
$sd-icon-story02-offset-y: -738px;
$sd-icon-story02-width: 93px;
$sd-icon-story02-height: 26px;
$sd-icon-story02-total-width: 1336px;
$sd-icon-story02-total-height: 1253px;
$sd-icon-story02-image: '/assets/images/sprites.png';
$sd-icon-story02: (1057px, 738px, -1057px, -738px, 93px, 26px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-icon_story02', );
$sd-icon-story02-b-name: 'sd-icon_story02_b';
$sd-icon-story02-b-x: 1057px;
$sd-icon-story02-b-y: 703px;
$sd-icon-story02-b-offset-x: -1057px;
$sd-icon-story02-b-offset-y: -703px;
$sd-icon-story02-b-width: 94px;
$sd-icon-story02-b-height: 29px;
$sd-icon-story02-b-total-width: 1336px;
$sd-icon-story02-b-total-height: 1253px;
$sd-icon-story02-b-image: '/assets/images/sprites.png';
$sd-icon-story02-b: (1057px, 703px, -1057px, -703px, 94px, 29px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-icon_story02_b', );
$sd-icon-story03-name: 'sd-icon_story03';
$sd-icon-story03-x: 632px;
$sd-icon-story03-y: 677px;
$sd-icon-story03-offset-x: -632px;
$sd-icon-story03-offset-y: -677px;
$sd-icon-story03-width: 116px;
$sd-icon-story03-height: 20px;
$sd-icon-story03-total-width: 1336px;
$sd-icon-story03-total-height: 1253px;
$sd-icon-story03-image: '/assets/images/sprites.png';
$sd-icon-story03: (632px, 677px, -632px, -677px, 116px, 20px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-icon_story03', );
$sd-icon-story03-b-name: 'sd-icon_story03_b';
$sd-icon-story03-b-x: 1162px;
$sd-icon-story03-b-y: 964px;
$sd-icon-story03-b-offset-x: -1162px;
$sd-icon-story03-b-offset-y: -964px;
$sd-icon-story03-b-width: 121px;
$sd-icon-story03-b-height: 22px;
$sd-icon-story03-b-total-width: 1336px;
$sd-icon-story03-b-total-height: 1253px;
$sd-icon-story03-b-image: '/assets/images/sprites.png';
$sd-icon-story03-b: (1162px, 964px, -1162px, -964px, 121px, 22px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-icon_story03_b', );
$sd-icon-via01-name: 'sd-icon_via01';
$sd-icon-via01-x: 1302px;
$sd-icon-via01-y: 472px;
$sd-icon-via01-offset-x: -1302px;
$sd-icon-via01-offset-y: -472px;
$sd-icon-via01-width: 23px;
$sd-icon-via01-height: 24px;
$sd-icon-via01-total-width: 1336px;
$sd-icon-via01-total-height: 1253px;
$sd-icon-via01-image: '/assets/images/sprites.png';
$sd-icon-via01: (1302px, 472px, -1302px, -472px, 23px, 24px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-icon_via01', );
$sd-icon-via02-name: 'sd-icon_via02';
$sd-icon-via02-x: 1302px;
$sd-icon-via02-y: 442px;
$sd-icon-via02-offset-x: -1302px;
$sd-icon-via02-offset-y: -442px;
$sd-icon-via02-width: 23px;
$sd-icon-via02-height: 24px;
$sd-icon-via02-total-width: 1336px;
$sd-icon-via02-total-height: 1253px;
$sd-icon-via02-image: '/assets/images/sprites.png';
$sd-icon-via02: (1302px, 442px, -1302px, -442px, 23px, 24px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-icon_via02', );
$sd-icon-via03-name: 'sd-icon_via03';
$sd-icon-via03-x: 1302px;
$sd-icon-via03-y: 412px;
$sd-icon-via03-offset-x: -1302px;
$sd-icon-via03-offset-y: -412px;
$sd-icon-via03-width: 23px;
$sd-icon-via03-height: 24px;
$sd-icon-via03-total-width: 1336px;
$sd-icon-via03-total-height: 1253px;
$sd-icon-via03-image: '/assets/images/sprites.png';
$sd-icon-via03: (1302px, 412px, -1302px, -412px, 23px, 24px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-icon_via03', );
$sd-list-guide-name: 'sd-list_guide';
$sd-list-guide-x: 0px;
$sd-list-guide-y: 953px;
$sd-list-guide-offset-x: 0px;
$sd-list-guide-offset-y: -953px;
$sd-list-guide-width: 903px;
$sd-list-guide-height: 57px;
$sd-list-guide-total-width: 1336px;
$sd-list-guide-total-height: 1253px;
$sd-list-guide-image: '/assets/images/sprites.png';
$sd-list-guide: (0px, 953px, 0px, -953px, 903px, 57px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-list_guide', );
$sd-logo01-name: 'sd-logo01';
$sd-logo01-x: 1162px;
$sd-logo01-y: 523px;
$sd-logo01-offset-x: -1162px;
$sd-logo01-offset-y: -523px;
$sd-logo01-width: 165px;
$sd-logo01-height: 43px;
$sd-logo01-total-width: 1336px;
$sd-logo01-total-height: 1253px;
$sd-logo01-image: '/assets/images/sprites.png';
$sd-logo01: (1162px, 523px, -1162px, -523px, 165px, 43px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-logo01', );
$sd-logo02-name: 'sd-logo02';
$sd-logo02-x: 1162px;
$sd-logo02-y: 827px;
$sd-logo02-offset-x: -1162px;
$sd-logo02-offset-y: -827px;
$sd-logo02-width: 131px;
$sd-logo02-height: 34px;
$sd-logo02-total-width: 1336px;
$sd-logo02-total-height: 1253px;
$sd-logo02-image: '/assets/images/sprites.png';
$sd-logo02: (1162px, 827px, -1162px, -827px, 131px, 34px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-logo02', );
$sd-nav01-name: 'sd-nav01';
$sd-nav01-x: 932px;
$sd-nav01-y: 887px;
$sd-nav01-offset-x: -932px;
$sd-nav01-offset-y: -887px;
$sd-nav01-width: 132px;
$sd-nav01-height: 14px;
$sd-nav01-total-width: 1336px;
$sd-nav01-total-height: 1253px;
$sd-nav01-image: '/assets/images/sprites.png';
$sd-nav01: (932px, 887px, -932px, -887px, 132px, 14px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-nav01', );
$sd-nav01-selected-name: 'sd-nav01_selected';
$sd-nav01-selected-x: 1162px;
$sd-nav01-selected-y: 992px;
$sd-nav01-selected-offset-x: -1162px;
$sd-nav01-selected-offset-y: -992px;
$sd-nav01-selected-width: 132px;
$sd-nav01-selected-height: 14px;
$sd-nav01-selected-total-width: 1336px;
$sd-nav01-selected-total-height: 1253px;
$sd-nav01-selected-image: '/assets/images/sprites.png';
$sd-nav01-selected: (1162px, 992px, -1162px, -992px, 132px, 14px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-nav01_selected', );
$sd-nav02-name: 'sd-nav02';
$sd-nav02-x: 946px;
$sd-nav02-y: 911px;
$sd-nav02-offset-x: -946px;
$sd-nav02-offset-y: -911px;
$sd-nav02-width: 115px;
$sd-nav02-height: 14px;
$sd-nav02-total-width: 1336px;
$sd-nav02-total-height: 1253px;
$sd-nav02-image: '/assets/images/sprites.png';
$sd-nav02: (946px, 911px, -946px, -911px, 115px, 14px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-nav02', );
$sd-nav02-selected-name: 'sd-nav02_selected';
$sd-nav02-selected-x: 946px;
$sd-nav02-selected-y: 931px;
$sd-nav02-selected-offset-x: -946px;
$sd-nav02-selected-offset-y: -931px;
$sd-nav02-selected-width: 115px;
$sd-nav02-selected-height: 14px;
$sd-nav02-selected-total-width: 1336px;
$sd-nav02-selected-total-height: 1253px;
$sd-nav02-selected-image: '/assets/images/sprites.png';
$sd-nav02-selected: (946px, 931px, -946px, -931px, 115px, 14px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-nav02_selected', );
$sd-nav03-name: 'sd-nav03';
$sd-nav03-x: 1162px;
$sd-nav03-y: 901px;
$sd-nav03-offset-x: -1162px;
$sd-nav03-offset-y: -901px;
$sd-nav03-width: 116px;
$sd-nav03-height: 28px;
$sd-nav03-total-width: 1336px;
$sd-nav03-total-height: 1253px;
$sd-nav03-image: '/assets/images/sprites.png';
$sd-nav03: (1162px, 901px, -1162px, -901px, 116px, 28px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-nav03', );
$sd-nav03-selected-name: 'sd-nav03_selected';
$sd-nav03-selected-x: 1162px;
$sd-nav03-selected-y: 867px;
$sd-nav03-selected-offset-x: -1162px;
$sd-nav03-selected-offset-y: -867px;
$sd-nav03-selected-width: 116px;
$sd-nav03-selected-height: 28px;
$sd-nav03-selected-total-width: 1336px;
$sd-nav03-selected-total-height: 1253px;
$sd-nav03-selected-image: '/assets/images/sprites.png';
$sd-nav03-selected: (1162px, 867px, -1162px, -867px, 116px, 28px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-nav03_selected', );
$sd-radio-agreement01-name: 'sd-radio_agreement01';
$sd-radio-agreement01-x: 1222px;
$sd-radio-agreement01-y: 1016px;
$sd-radio-agreement01-offset-x: -1222px;
$sd-radio-agreement01-offset-y: -1016px;
$sd-radio-agreement01-width: 69px;
$sd-radio-agreement01-height: 26px;
$sd-radio-agreement01-total-width: 1336px;
$sd-radio-agreement01-total-height: 1253px;
$sd-radio-agreement01-image: '/assets/images/sprites.png';
$sd-radio-agreement01: (1222px, 1016px, -1222px, -1016px, 69px, 26px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-radio_agreement01', );
$sd-radio-agreement01-selected-name: 'sd-radio_agreement01_selected';
$sd-radio-agreement01-selected-x: 1176px;
$sd-radio-agreement01-selected-y: 1055px;
$sd-radio-agreement01-selected-offset-x: -1176px;
$sd-radio-agreement01-selected-offset-y: -1055px;
$sd-radio-agreement01-selected-width: 69px;
$sd-radio-agreement01-selected-height: 26px;
$sd-radio-agreement01-selected-total-width: 1336px;
$sd-radio-agreement01-selected-total-height: 1253px;
$sd-radio-agreement01-selected-image: '/assets/images/sprites.png';
$sd-radio-agreement01-selected: (1176px, 1055px, -1176px, -1055px, 69px, 26px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-radio_agreement01_selected', );
$sd-radio-agreement02-name: 'sd-radio_agreement02';
$sd-radio-agreement02-x: 932px;
$sd-radio-agreement02-y: 855px;
$sd-radio-agreement02-offset-x: -932px;
$sd-radio-agreement02-offset-y: -855px;
$sd-radio-agreement02-width: 82px;
$sd-radio-agreement02-height: 26px;
$sd-radio-agreement02-total-width: 1336px;
$sd-radio-agreement02-total-height: 1253px;
$sd-radio-agreement02-image: '/assets/images/sprites.png';
$sd-radio-agreement02: (932px, 855px, -932px, -855px, 82px, 26px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-radio_agreement02', );
$sd-radio-agreement02-selected-name: 'sd-radio_agreement02_selected';
$sd-radio-agreement02-selected-x: 1020px;
$sd-radio-agreement02-selected-y: 855px;
$sd-radio-agreement02-selected-offset-x: -1020px;
$sd-radio-agreement02-selected-offset-y: -855px;
$sd-radio-agreement02-selected-width: 82px;
$sd-radio-agreement02-selected-height: 26px;
$sd-radio-agreement02-selected-total-width: 1336px;
$sd-radio-agreement02-selected-total-height: 1253px;
$sd-radio-agreement02-selected-image: '/assets/images/sprites.png';
$sd-radio-agreement02-selected: (1020px, 855px, -1020px, -855px, 82px, 26px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-radio_agreement02_selected', );
$sd-radio-video01-name: 'sd-radio_video01';
$sd-radio-video01-x: 316px;
$sd-radio-video01-y: 123px;
$sd-radio-video01-offset-x: -316px;
$sd-radio-video01-offset-y: -123px;
$sd-radio-video01-width: 310px;
$sd-radio-video01-height: 284px;
$sd-radio-video01-total-width: 1336px;
$sd-radio-video01-total-height: 1253px;
$sd-radio-video01-image: '/assets/images/sprites.png';
$sd-radio-video01: (316px, 123px, -316px, -123px, 310px, 284px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-radio_video01', );
$sd-radio-video01-selected-name: 'sd-radio_video01_selected';
$sd-radio-video01-selected-x: 0px;
$sd-radio-video01-selected-y: 413px;
$sd-radio-video01-selected-offset-x: 0px;
$sd-radio-video01-selected-offset-y: -413px;
$sd-radio-video01-selected-width: 310px;
$sd-radio-video01-selected-height: 284px;
$sd-radio-video01-selected-total-width: 1336px;
$sd-radio-video01-selected-total-height: 1253px;
$sd-radio-video01-selected-image: '/assets/images/sprites.png';
$sd-radio-video01-selected: (0px, 413px, 0px, -413px, 310px, 284px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-radio_video01_selected', );
$sd-radio-video02-name: 'sd-radio_video02';
$sd-radio-video02-x: 316px;
$sd-radio-video02-y: 413px;
$sd-radio-video02-offset-x: -316px;
$sd-radio-video02-offset-y: -413px;
$sd-radio-video02-width: 310px;
$sd-radio-video02-height: 284px;
$sd-radio-video02-total-width: 1336px;
$sd-radio-video02-total-height: 1253px;
$sd-radio-video02-image: '/assets/images/sprites.png';
$sd-radio-video02: (316px, 413px, -316px, -413px, 310px, 284px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-radio_video02', );
$sd-radio-video02-selected-name: 'sd-radio_video02_selected';
$sd-radio-video02-selected-x: 0px;
$sd-radio-video02-selected-y: 123px;
$sd-radio-video02-selected-offset-x: 0px;
$sd-radio-video02-selected-offset-y: -123px;
$sd-radio-video02-selected-width: 310px;
$sd-radio-video02-selected-height: 284px;
$sd-radio-video02-selected-total-width: 1336px;
$sd-radio-video02-selected-total-height: 1253px;
$sd-radio-video02-selected-image: '/assets/images/sprites.png';
$sd-radio-video02-selected: (0px, 123px, 0px, -123px, 310px, 284px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-radio_video02_selected', );
$sd-radio-video03-name: 'sd-radio_video03';
$sd-radio-video03-x: 846px;
$sd-radio-video03-y: 290px;
$sd-radio-video03-offset-x: -846px;
$sd-radio-video03-offset-y: -290px;
$sd-radio-video03-width: 310px;
$sd-radio-video03-height: 284px;
$sd-radio-video03-total-width: 1336px;
$sd-radio-video03-total-height: 1253px;
$sd-radio-video03-image: '/assets/images/sprites.png';
$sd-radio-video03: (846px, 290px, -846px, -290px, 310px, 284px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-radio_video03', );
$sd-radio-video03-selected-name: 'sd-radio_video03_selected';
$sd-radio-video03-selected-x: 846px;
$sd-radio-video03-selected-y: 0px;
$sd-radio-video03-selected-offset-x: -846px;
$sd-radio-video03-selected-offset-y: 0px;
$sd-radio-video03-selected-width: 310px;
$sd-radio-video03-selected-height: 284px;
$sd-radio-video03-selected-total-width: 1336px;
$sd-radio-video03-selected-total-height: 1253px;
$sd-radio-video03-selected-image: '/assets/images/sprites.png';
$sd-radio-video03-selected: (846px, 0px, -846px, 0px, 310px, 284px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-radio_video03_selected', );
$sd-title-section01-name: 'sd-title_section01';
$sd-title-section01-x: 0px;
$sd-title-section01-y: 825px;
$sd-title-section01-offset-x: 0px;
$sd-title-section01-offset-y: -825px;
$sd-title-section01-width: 577px;
$sd-title-section01-height: 122px;
$sd-title-section01-total-width: 1336px;
$sd-title-section01-total-height: 1253px;
$sd-title-section01-image: '/assets/images/sprites.png';
$sd-title-section01: (0px, 825px, 0px, -825px, 577px, 122px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-title_section01', );
$sd-title-section02-name: 'sd-title_section02';
$sd-title-section02-x: 0px;
$sd-title-section02-y: 0px;
$sd-title-section02-offset-x: 0px;
$sd-title-section02-offset-y: 0px;
$sd-title-section02-width: 840px;
$sd-title-section02-height: 117px;
$sd-title-section02-total-width: 1336px;
$sd-title-section02-total-height: 1253px;
$sd-title-section02-image: '/assets/images/sprites.png';
$sd-title-section02: (0px, 0px, 0px, 0px, 840px, 117px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-title_section02', );
$sd-title-section-guide-name: 'sd-title_section_guide';
$sd-title-section-guide-x: 1162px;
$sd-title-section-guide-y: 935px;
$sd-title-section-guide-offset-x: -1162px;
$sd-title-section-guide-offset-y: -935px;
$sd-title-section-guide-width: 129px;
$sd-title-section-guide-height: 23px;
$sd-title-section-guide-total-width: 1336px;
$sd-title-section-guide-total-height: 1253px;
$sd-title-section-guide-image: '/assets/images/sprites.png';
$sd-title-section-guide: (1162px, 935px, -1162px, -935px, 129px, 23px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-title_section_guide', );
$sd-title-section-your-story-name: 'sd-title_section_your_story';
$sd-title-section-your-story-x: 0px;
$sd-title-section-your-story-y: 703px;
$sd-title-section-your-story-offset-x: 0px;
$sd-title-section-your-story-offset-y: -703px;
$sd-title-section-your-story-width: 669px;
$sd-title-section-your-story-height: 116px;
$sd-title-section-your-story-total-width: 1336px;
$sd-title-section-your-story-total-height: 1253px;
$sd-title-section-your-story-image: '/assets/images/sprites.png';
$sd-title-section-your-story: (0px, 703px, 0px, -703px, 669px, 116px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-title_section_your_story', );
$sd-txt-address-name: 'sd-txt_address';
$sd-txt-address-x: 987px;
$sd-txt-address-y: 1102px;
$sd-txt-address-offset-x: -987px;
$sd-txt-address-offset-y: -1102px;
$sd-txt-address-width: 318px;
$sd-txt-address-height: 11px;
$sd-txt-address-total-width: 1336px;
$sd-txt-address-total-height: 1253px;
$sd-txt-address-image: '/assets/images/sprites.png';
$sd-txt-address: (987px, 1102px, -987px, -1102px, 318px, 11px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-txt_address', );
$sd-txt-comments01-name: 'sd-txt_comments01';
$sd-txt-comments01-x: 272px;
$sd-txt-comments01-y: 1102px;
$sd-txt-comments01-offset-x: -272px;
$sd-txt-comments01-offset-y: -1102px;
$sd-txt-comments01-width: 300px;
$sd-txt-comments01-height: 19px;
$sd-txt-comments01-total-width: 1336px;
$sd-txt-comments01-total-height: 1253px;
$sd-txt-comments01-image: '/assets/images/sprites.png';
$sd-txt-comments01: (272px, 1102px, -272px, -1102px, 300px, 19px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-txt_comments01', );
$sd-txt-copyright-name: 'sd-txt_copyright';
$sd-txt-copyright-x: 578px;
$sd-txt-copyright-y: 1102px;
$sd-txt-copyright-offset-x: -578px;
$sd-txt-copyright-offset-y: -1102px;
$sd-txt-copyright-width: 403px;
$sd-txt-copyright-height: 12px;
$sd-txt-copyright-total-width: 1336px;
$sd-txt-copyright-total-height: 1253px;
$sd-txt-copyright-image: '/assets/images/sprites.png';
$sd-txt-copyright: (578px, 1102px, -578px, -1102px, 403px, 12px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-txt_copyright', );
$sd-txt-duration-event-name: 'sd-txt_duration_event';
$sd-txt-duration-event-x: 675px;
$sd-txt-duration-event-y: 789px;
$sd-txt-duration-event-offset-x: -675px;
$sd-txt-duration-event-offset-y: -789px;
$sd-txt-duration-event-width: 406px;
$sd-txt-duration-event-height: 24px;
$sd-txt-duration-event-total-width: 1336px;
$sd-txt-duration-event-total-height: 1253px;
$sd-txt-duration-event-image: '/assets/images/sprites.png';
$sd-txt-duration-event: (675px, 789px, -675px, -789px, 406px, 24px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-txt_duration_event', );
$sd-txt-from01-name: 'sd-txt_from01';
$sd-txt-from01-x: 1302px;
$sd-txt-from01-y: 347px;
$sd-txt-from01-offset-x: -1302px;
$sd-txt-from01-offset-y: -347px;
$sd-txt-from01-width: 34px;
$sd-txt-from01-height: 11px;
$sd-txt-from01-total-width: 1336px;
$sd-txt-from01-total-height: 1253px;
$sd-txt-from01-image: '/assets/images/sprites.png';
$sd-txt-from01: (1302px, 347px, -1302px, -347px, 34px, 11px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-txt_from01', );
$sd-txt-message01-name: 'sd-txt_message01';
$sd-txt-message01-x: 621px;
$sd-txt-message01-y: 1016px;
$sd-txt-message01-offset-x: -621px;
$sd-txt-message01-offset-y: -1016px;
$sd-txt-message01-width: 595px;
$sd-txt-message01-height: 33px;
$sd-txt-message01-total-width: 1336px;
$sd-txt-message01-total-height: 1253px;
$sd-txt-message01-image: '/assets/images/sprites.png';
$sd-txt-message01: (621px, 1016px, -621px, -1016px, 595px, 33px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-txt_message01', );
$sd-txt-name01-name: 'sd-txt_name01';
$sd-txt-name01-x: 1302px;
$sd-txt-name01-y: 502px;
$sd-txt-name01-offset-x: -1302px;
$sd-txt-name01-offset-y: -502px;
$sd-txt-name01-width: 24px;
$sd-txt-name01-height: 13px;
$sd-txt-name01-total-width: 1336px;
$sd-txt-name01-total-height: 1253px;
$sd-txt-name01-image: '/assets/images/sprites.png';
$sd-txt-name01: (1302px, 502px, -1302px, -502px, 24px, 13px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-txt_name01', );
$sd-txt-phone01-name: 'sd-txt_phone01';
$sd-txt-phone01-x: 1299px;
$sd-txt-phone01-y: 827px;
$sd-txt-phone01-offset-x: -1299px;
$sd-txt-phone01-offset-y: -827px;
$sd-txt-phone01-width: 35px;
$sd-txt-phone01-height: 13px;
$sd-txt-phone01-total-width: 1336px;
$sd-txt-phone01-total-height: 1253px;
$sd-txt-phone01-image: '/assets/images/sprites.png';
$sd-txt-phone01: (1299px, 827px, -1299px, -827px, 35px, 13px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-txt_phone01', );
$sd-txt-sns-login-name: 'sd-txt_sns_login';
$sd-txt-sns-login-x: 632px;
$sd-txt-sns-login-y: 652px;
$sd-txt-sns-login-offset-x: -632px;
$sd-txt-sns-login-offset-y: -652px;
$sd-txt-sns-login-width: 190px;
$sd-txt-sns-login-height: 19px;
$sd-txt-sns-login-total-width: 1336px;
$sd-txt-sns-login-total-height: 1253px;
$sd-txt-sns-login-image: '/assets/images/sprites.png';
$sd-txt-sns-login: (632px, 652px, -632px, -652px, 190px, 19px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-txt_sns_login', );
$sd-txt-title-popup01-name: 'sd-txt_title_popup01';
$sd-txt-title-popup01-x: 0px;
$sd-txt-title-popup01-y: 1150px;
$sd-txt-title-popup01-offset-x: 0px;
$sd-txt-title-popup01-offset-y: -1150px;
$sd-txt-title-popup01-width: 356px;
$sd-txt-title-popup01-height: 55px;
$sd-txt-title-popup01-total-width: 1336px;
$sd-txt-title-popup01-total-height: 1253px;
$sd-txt-title-popup01-image: '/assets/images/sprites.png';
$sd-txt-title-popup01: (0px, 1150px, 0px, -1150px, 356px, 55px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-txt_title_popup01', );
$sd-txt-title-popup02-name: 'sd-txt_title_popup02';
$sd-txt-title-popup02-x: 846px;
$sd-txt-title-popup02-y: 580px;
$sd-txt-title-popup02-offset-x: -846px;
$sd-txt-title-popup02-offset-y: -580px;
$sd-txt-title-popup02-width: 268px;
$sd-txt-title-popup02-height: 33px;
$sd-txt-title-popup02-total-width: 1336px;
$sd-txt-title-popup02-total-height: 1253px;
$sd-txt-title-popup02-image: '/assets/images/sprites.png';
$sd-txt-title-popup02: (846px, 580px, -846px, -580px, 268px, 33px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-txt_title_popup02', );
$sd-txt-title-popup03-name: 'sd-txt_title_popup03';
$sd-txt-title-popup03-x: 632px;
$sd-txt-title-popup03-y: 329px;
$sd-txt-title-popup03-offset-x: -632px;
$sd-txt-title-popup03-offset-y: -329px;
$sd-txt-title-popup03-width: 185px;
$sd-txt-title-popup03-height: 33px;
$sd-txt-title-popup03-total-width: 1336px;
$sd-txt-title-popup03-total-height: 1253px;
$sd-txt-title-popup03-image: '/assets/images/sprites.png';
$sd-txt-title-popup03: (632px, 329px, -632px, -329px, 185px, 33px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-txt_title_popup03', );
$sd-txt-title-video-name: 'sd-txt_title_video';
$sd-txt-title-video-x: 909px;
$sd-txt-title-video-y: 986px;
$sd-txt-title-video-offset-x: -909px;
$sd-txt-title-video-offset-y: -986px;
$sd-txt-title-video-width: 245px;
$sd-txt-title-video-height: 20px;
$sd-txt-title-video-total-width: 1336px;
$sd-txt-title-video-total-height: 1253px;
$sd-txt-title-video-image: '/assets/images/sprites.png';
$sd-txt-title-video: (909px, 986px, -909px, -986px, 245px, 20px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-txt_title_video', );
$sd-txt-title-winner01-name: 'sd-txt_title_winner01';
$sd-txt-title-winner01-x: 0px;
$sd-txt-title-winner01-y: 1016px;
$sd-txt-title-winner01-offset-x: 0px;
$sd-txt-title-winner01-offset-y: -1016px;
$sd-txt-title-winner01-width: 266px;
$sd-txt-title-winner01-height: 128px;
$sd-txt-title-winner01-total-width: 1336px;
$sd-txt-title-winner01-total-height: 1253px;
$sd-txt-title-winner01-image: '/assets/images/sprites.png';
$sd-txt-title-winner01: (0px, 1016px, 0px, -1016px, 266px, 128px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-txt_title_winner01', );
$sd-txt-title-winner02-name: 'sd-txt_title_winner02';
$sd-txt-title-winner02-x: 909px;
$sd-txt-title-winner02-y: 953px;
$sd-txt-title-winner02-offset-x: -909px;
$sd-txt-title-winner02-offset-y: -953px;
$sd-txt-title-winner02-width: 236px;
$sd-txt-title-winner02-height: 27px;
$sd-txt-title-winner02-total-width: 1336px;
$sd-txt-title-winner02-total-height: 1253px;
$sd-txt-title-winner02-image: '/assets/images/sprites.png';
$sd-txt-title-winner02: (909px, 953px, -909px, -953px, 236px, 27px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-txt_title_winner02', );
$sd-txt-title-winner03-name: 'sd-txt_title_winner03';
$sd-txt-title-winner03-x: 939px;
$sd-txt-title-winner03-y: 1055px;
$sd-txt-title-winner03-offset-x: -939px;
$sd-txt-title-winner03-offset-y: -1055px;
$sd-txt-title-winner03-width: 231px;
$sd-txt-title-winner03-height: 27px;
$sd-txt-title-winner03-total-width: 1336px;
$sd-txt-title-winner03-total-height: 1253px;
$sd-txt-title-winner03-image: '/assets/images/sprites.png';
$sd-txt-title-winner03: (939px, 1055px, -939px, -1055px, 231px, 27px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-txt_title_winner03', );
$sd-txt-title-winner04-name: 'sd-txt_title_winner04';
$sd-txt-title-winner04-x: 846px;
$sd-txt-title-winner04-y: 652px;
$sd-txt-title-winner04-offset-x: -846px;
$sd-txt-title-winner04-offset-y: -652px;
$sd-txt-title-winner04-width: 248px;
$sd-txt-title-winner04-height: 27px;
$sd-txt-title-winner04-total-width: 1336px;
$sd-txt-title-winner04-total-height: 1253px;
$sd-txt-title-winner04-image: '/assets/images/sprites.png';
$sd-txt-title-winner04: (846px, 652px, -846px, -652px, 248px, 27px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-txt_title_winner04', );
$sd-txt-title-winner05-name: 'sd-txt_title_winner05';
$sd-txt-title-winner05-x: 632px;
$sd-txt-title-winner05-y: 368px;
$sd-txt-title-winner05-offset-x: -632px;
$sd-txt-title-winner05-offset-y: -368px;
$sd-txt-title-winner05-width: 208px;
$sd-txt-title-winner05-height: 27px;
$sd-txt-title-winner05-total-width: 1336px;
$sd-txt-title-winner05-total-height: 1253px;
$sd-txt-title-winner05-image: '/assets/images/sprites.png';
$sd-txt-title-winner05: (632px, 368px, -632px, -368px, 208px, 27px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-txt_title_winner05', );
$sd-txt-title-winner06-name: 'sd-txt_title_winner06';
$sd-txt-title-winner06-x: 846px;
$sd-txt-title-winner06-y: 619px;
$sd-txt-title-winner06-offset-x: -846px;
$sd-txt-title-winner06-offset-y: -619px;
$sd-txt-title-winner06-width: 296px;
$sd-txt-title-winner06-height: 27px;
$sd-txt-title-winner06-total-width: 1336px;
$sd-txt-title-winner06-total-height: 1253px;
$sd-txt-title-winner06-image: '/assets/images/sprites.png';
$sd-txt-title-winner06: (846px, 619px, -846px, -619px, 296px, 27px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-txt_title_winner06', );
$sd-txt-title-winner07-name: 'sd-txt_title_winner07';
$sd-txt-title-winner07-x: 621px;
$sd-txt-title-winner07-y: 1055px;
$sd-txt-title-winner07-offset-x: -621px;
$sd-txt-title-winner07-offset-y: -1055px;
$sd-txt-title-winner07-width: 312px;
$sd-txt-title-winner07-height: 27px;
$sd-txt-title-winner07-total-width: 1336px;
$sd-txt-title-winner07-total-height: 1253px;
$sd-txt-title-winner07-image: '/assets/images/sprites.png';
$sd-txt-title-winner07: (621px, 1055px, -621px, -1055px, 312px, 27px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-txt_title_winner07', );
$sd-txt-title-winner08-name: 'sd-txt_title_winner08';
$sd-txt-title-winner08-x: 632px;
$sd-txt-title-winner08-y: 619px;
$sd-txt-title-winner08-offset-x: -632px;
$sd-txt-title-winner08-offset-y: -619px;
$sd-txt-title-winner08-width: 182px;
$sd-txt-title-winner08-height: 27px;
$sd-txt-title-winner08-total-width: 1336px;
$sd-txt-title-winner08-total-height: 1253px;
$sd-txt-title-winner08-image: '/assets/images/sprites.png';
$sd-txt-title-winner08: (632px, 619px, -632px, -619px, 182px, 27px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-txt_title_winner08', );
$sd-txt-write01-name: 'sd-txt_write01';
$sd-txt-write01-x: 1038px;
$sd-txt-write01-y: 825px;
$sd-txt-write01-offset-x: -1038px;
$sd-txt-write01-offset-y: -825px;
$sd-txt-write01-width: 107px;
$sd-txt-write01-height: 19px;
$sd-txt-write01-total-width: 1336px;
$sd-txt-write01-total-height: 1253px;
$sd-txt-write01-image: '/assets/images/sprites.png';
$sd-txt-write01: (1038px, 825px, -1038px, -825px, 107px, 19px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-txt_write01', );
$sd-txt-your-story-name: 'sd-txt_your_story';
$sd-txt-your-story-x: 583px;
$sd-txt-your-story-y: 911px;
$sd-txt-your-story-offset-x: -583px;
$sd-txt-your-story-offset-y: -911px;
$sd-txt-your-story-width: 357px;
$sd-txt-your-story-height: 34px;
$sd-txt-your-story-total-width: 1336px;
$sd-txt-your-story-total-height: 1253px;
$sd-txt-your-story-image: '/assets/images/sprites.png';
$sd-txt-your-story: (583px, 911px, -583px, -911px, 357px, 34px, 1336px, 1253px, '/assets/images/sprites.png', 'sd-txt_your_story', );
$spritesheet-width: 1336px;
$spritesheet-height: 1253px;
$spritesheet-image: '/assets/images/sprites.png';
$spritesheet-sprites: ($sd-btn-application01, $sd-btn-close01, $sd-btn-confirm01, $sd-btn-facebook, $sd-btn-facebook-selected, $sd-btn-kakaostory, $sd-btn-kakaostory-selected, $sd-btn-more01, $sd-btn-next01, $sd-btn-next01-selected, $sd-btn-prev01, $sd-btn-prev01-selected, $sd-btn-story01, $sd-btn-story02, $sd-btn-story03, $sd-btn-twitter, $sd-btn-twitter-selected, $sd-desc-story01, $sd-desc-story02, $sd-desc-story03, $sd-icon-circle01, $sd-icon-dots01, $sd-icon-dots01-selected, $sd-icon-story01, $sd-icon-story01-b, $sd-icon-story02, $sd-icon-story02-b, $sd-icon-story03, $sd-icon-story03-b, $sd-icon-via01, $sd-icon-via02, $sd-icon-via03, $sd-list-guide, $sd-logo01, $sd-logo02, $sd-nav01, $sd-nav01-selected, $sd-nav02, $sd-nav02-selected, $sd-nav03, $sd-nav03-selected, $sd-radio-agreement01, $sd-radio-agreement01-selected, $sd-radio-agreement02, $sd-radio-agreement02-selected, $sd-radio-video01, $sd-radio-video01-selected, $sd-radio-video02, $sd-radio-video02-selected, $sd-radio-video03, $sd-radio-video03-selected, $sd-title-section01, $sd-title-section02, $sd-title-section-guide, $sd-title-section-your-story, $sd-txt-address, $sd-txt-comments01, $sd-txt-copyright, $sd-txt-duration-event, $sd-txt-from01, $sd-txt-message01, $sd-txt-name01, $sd-txt-phone01, $sd-txt-sns-login, $sd-txt-title-popup01, $sd-txt-title-popup02, $sd-txt-title-popup03, $sd-txt-title-video, $sd-txt-title-winner01, $sd-txt-title-winner02, $sd-txt-title-winner03, $sd-txt-title-winner04, $sd-txt-title-winner05, $sd-txt-title-winner06, $sd-txt-title-winner07, $sd-txt-title-winner08, $sd-txt-write01, $sd-txt-your-story, );
$spritesheet: (1336px, 1253px, '/assets/images/sprites.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
