@charset "UTF-8";
@import url(nanumgothic.css);
@import url(slick.css);
@import url(magnific-popup.css);
/**
 * variable
 */
body {
  background-color: #fff; }

/* Common Style */
* {
  margin: 0;
  padding: 0; }

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, q, s, samp, strike, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  border: 0 none; }

body {
  position: relative;
  /*min-height: 800px;*/
  min-width: 320px;
  margin: 0 auto;
  font-size: 100%;
  line-height: 1em;
  font-family: "Nanum Gothic", sans-serif;
  -ms-text-size-adjust: 100%;
      text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

header, h1 {
  font-size: 100%; }

html, body {
  height: 100%; }

caption, legend {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  visibility: hidden; }

caption {
  display: none; }

img {
  border: none;
  vertical-align: top;
  /*width: 100%;*/ }

select, input {
  vertical-align: top; }

hr {
  display: none;
  border: 0 none; }

ol, ul, ul li {
  list-style: none; }

em {
  font-style: normal; }

menu li {
  list-style: none; }

address {
  display: inline;
  font-style: normal; }

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 0px;
  background-color: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, textarea, keygen, select, button {
  font-family: "Nanum Gothic", sans-serif; }

strong {
  font-weight: normal; }

dfn {
  font-style: normal; }

/* link Style */
a:link, a:visited, a:active, a:focus {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.hidden {
  display: none !important; }

.visible-hidden {
  visibility: hidden !important; }

.clear {
  clear: both; }

.txt-center {
  text-align: center !important; }

/* forms */
fieldset {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

input[type=text], input[type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 0px;
  border-radius: 0px; }

::-webkit-input-placeholder {
  color: #4c4c4c; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #4c4c4c; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #4c4c4c; }

:-ms-input-placeholder {
  color: #4c4c4c; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
/**
 * retina
**/
/**
 * z-index
**/
/**
 * states
 */
/**
 * import
 */
/* GNB HEADER */
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 800;
  padding: 16px 0 8px 0;
  border-bottom: 1px solid #c7c7c7;
  background-color: #fff; }
  .header .logo {
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    background-image: url(/assets/images/mobile/sprites_mobile.png);
    background-position: -119px -884px;
    width: 93px;
    height: 25px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .header .logo {
        background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
        background-size: 966px 938px; } }
  .header .menus {
    display: block;
    padding-top: 33px; }
    .header .menus ul {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .header .menus ul > li {
        display: block;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
        position: relative;
        vertical-align: top;
        text-align: center; }
        .header .menus ul > li a {
          display: inline-block;
          text-indent: -9999px; }
          .header .menus ul > li a.menu01 {
            background-image: url(/assets/images/mobile/sprites_mobile.png);
            background-position: -713px -800px;
            width: 128px;
            height: 13px; }
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              .header .menus ul > li a.menu01 {
                background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
                background-size: 966px 938px; } }
            .header .menus ul > li a.menu01:hover {
              background-image: url(/assets/images/mobile/sprites_mobile.png);
              background-position: -578px -800px;
              width: 129px;
              height: 13px; }
              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                .header .menus ul > li a.menu01:hover {
                  background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
                  background-size: 966px 938px; } }
            .header .menus ul > li a.menu01.is-selected {
              background-image: url(/assets/images/mobile/sprites_mobile.png);
              background-position: -578px -800px;
              width: 129px;
              height: 13px; }
              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                .header .menus ul > li a.menu01.is-selected {
                  background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
                  background-size: 966px 938px; } }
          .header .menus ul > li a.menu02 {
            background-image: url(/assets/images/mobile/sprites_mobile.png);
            background-position: -891px -719px;
            width: 74px;
            height: 29px; }
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              .header .menus ul > li a.menu02 {
                background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
                background-size: 966px 938px; } }
            .header .menus ul > li a.menu02:hover {
              background-image: url(/assets/images/mobile/sprites_mobile.png);
              background-position: -891px -684px;
              width: 74px;
              height: 29px; }
              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                .header .menus ul > li a.menu02:hover {
                  background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
                  background-size: 966px 938px; } }
            .header .menus ul > li a.menu02.is-selected {
              background-image: url(/assets/images/mobile/sprites_mobile.png);
              background-position: -891px -684px;
              width: 74px;
              height: 29px; }
              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                .header .menus ul > li a.menu02.is-selected {
                  background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
                  background-size: 966px 938px; } }
          .header .menus ul > li a.menu03 {
            position: relative;
            top: -13px;
            background-image: url(/assets/images/mobile/sprites_mobile.png);
            background-position: 0px -884px;
            width: 113px;
            height: 26px; }
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              .header .menus ul > li a.menu03 {
                background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
                background-size: 966px 938px; } }
            .header .menus ul > li a.menu03:hover {
              background-image: url(/assets/images/mobile/sprites_mobile.png);
              background-position: -765px -666px;
              width: 114px;
              height: 26px; }
              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                .header .menus ul > li a.menu03:hover {
                  background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
                  background-size: 966px 938px; } }
            .header .menus ul > li a.menu03.is-selected {
              background-image: url(/assets/images/mobile/sprites_mobile.png);
              background-position: -765px -666px;
              width: 114px;
              height: 26px; }
              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                .header .menus ul > li a.menu03.is-selected {
                  background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
                  background-size: 966px 938px; } }
        .header .menus ul > li + li:before {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          margin-top: -10px;
          height: 3px;
          width: 3px;
          border-radius: 3px;
          background-color: #b7b7b7; }

/* FOOTER */
.footer {
  padding: 17px 0 17px 0;
  border-top: 1px solid #d6d6d6;
  background-color: #fff; }
  .footer .logo {
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    background-image: url(/assets/images/mobile/sprites_mobile.png);
    background-position: -891px -810px;
    width: 74px;
    height: 20px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .footer .logo {
        background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
        background-size: 966px 938px; } }
  .footer .txt-copyright {
    display: block;
    margin: 13px auto 0 auto;
    text-indent: -9999px;
    background-image: url(/assets/images/mobile/sprites_mobile.png);
    background-position: -256px -648px;
    width: 281px;
    height: 9px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .footer .txt-copyright {
        background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
        background-size: 966px 938px; } }
  .footer .txt-address {
    display: block;
    margin: 5px auto 0 auto;
    text-indent: -9999px;
    background-image: url(/assets/images/mobile/sprites_mobile.png);
    background-position: -652px -523px;
    width: 223px;
    height: 8px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .footer .txt-address {
        background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
        background-size: 966px 938px; } }

/* CONTENTS */
/* 댓글 목록 */
.comment-item {
  position: relative;
  padding: 12px 0 13px 45px;
  min-height: 77px;
  /* 카드 스타일 */ }
  .comment-item .user {
    position: absolute;
    top: 12px;
    left: 0px;
    width: 100%; }
    .comment-item .user .thumb {
      position: relative;
      height: 34px;
      width: 34px; }
      .comment-item .user .thumb .via {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        text-indent: -9999px; }
        .comment-item .user .thumb .via.facebook {
          background-image: url(/assets/images/mobile/sprites_mobile.png);
          background-position: -861px -276px;
          width: 16px;
          height: 16px; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            .comment-item .user .thumb .via.facebook {
              background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
              background-size: 966px 938px; } }
        .comment-item .user .thumb .via.twitter {
          background-image: url(/assets/images/mobile/sprites_mobile.png);
          background-position: -861px -298px;
          width: 16px;
          height: 16px; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            .comment-item .user .thumb .via.twitter {
              background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
              background-size: 966px 938px; } }
        .comment-item .user .thumb .via.kakaostory {
          background-image: url(/assets/images/mobile/sprites_mobile.png);
          background-position: -861px -254px;
          width: 16px;
          height: 16px; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            .comment-item .user .thumb .via.kakaostory {
              background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
              background-size: 966px 938px; } }
      .comment-item .user .thumb img {
        display: block;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        border: 2px solid #0895d7;
        border-radius: 34px; }
    .comment-item .user figcaption {
      display: block;
      position: absolute;
      top: 0px;
      left: 45px; }
    .comment-item .user .icons {
      display: inline-block;
      margin-right: 5px;
      text-indent: -9999px;
      vertical-align: top; }
    .comment-item .user .name {
      display: inline-block;
      font-size: 11px;
      font-weight: bold;
      color: #333; }
      .comment-item .user .name:before {
        content: attr(data-before);
        display: inline-block;
        margin-right: 3px;
        font-weight: normal;
        color: #999;
        letter-spacing: -0.1em; }
    .comment-item .user.founded img {
      border: 2px solid #0895d7; }
    .comment-item .user.founded .icons {
      background-image: url(/assets/images/mobile/sprites_mobile.png);
      background-position: -218px -884px;
      width: 72px;
      height: 17px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .comment-item .user.founded .icons {
          background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
          background-size: 966px 938px; } }
    .comment-item .user.health img {
      border: 2px solid #f15234; }
    .comment-item .user.health .icons {
      background-image: url(/assets/images/mobile/sprites_mobile.png);
      background-position: -296px -884px;
      width: 69px;
      height: 17px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .comment-item .user.health .icons {
          background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
          background-size: 966px 938px; } }
    .comment-item .user.car img {
      border: 2px solid #9bb226; }
    .comment-item .user.car .icons {
      background-image: url(/assets/images/mobile/sprites_mobile.png);
      background-position: -792px -776px;
      width: 88px;
      height: 17px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .comment-item .user.car .icons {
          background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
          background-size: 966px 938px; } }
  .comment-item .comment {
    margin-top: 25px;
    font-size: 11px;
    color: #4c4c4c;
    line-height: 17px;
    word-break: break-all; }
  .type-card .comment-item {
    box-sizing: border-box;
    margin: 0;
    padding: 0 10px 0 8px;
    min-height: auto;
    background-image: url(/assets/images/mobile/sprites_mobile.png);
    background-position: -652px -222px;
    width: 203px;
    height: 205px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .type-card .comment-item {
        background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
        background-size: 966px 938px; } }
    .type-card .comment-item .user {
      display: block;
      overflow: hidden;
      position: static;
      padding: 22px 0 13px 13px;
      width: auto; }
      .type-card .comment-item .user .thumb {
        float: left;
        margin: 0;
        height: 47px;
        width: 47px; }
        .type-card .comment-item .user .thumb .via {
          display: none; }
      .type-card .comment-item .user figcaption {
        position: static;
        float: left;
        margin: 5px 0 0 6px;
        width: auto; }
      .type-card .comment-item .user .icons {
        position: static; }
      .type-card .comment-item .user .name {
        display: block;
        margin: 5px 0 0 0;
        font-size: 15px;
        color: #333;
        text-align: left; }
    .type-card .comment-item .comment {
      display: block;
      overflow: hidden;
      box-sizing: border-box;
      margin: 0px;
      padding: 12px 10px 0 10px;
      height: 114px;
      width: 100%;
      font-size: 11px;
      color: #333;
      line-height: 17px;
      border-top: 1px dashed #b8b8b8; }

.list-comments {
  margin-top: 20px;
  border-bottom: 2px solid #c7c7c7;
  /* 카드 스타일 */ }
  .list-comments li {
    position: relative;
    padding: 0 20px 0 20px;
    border-top: 1px solid #e2e2e2; }
    .list-comments li:first-child {
      border-top: 2px solid #c7c7c7; }
  .list-comments.type-card {
    box-sizing: border-box;
    margin: 20px 46px 0 46px;
    padding: 0;
    border: 0px; }
    .list-comments.type-card li {
      display: block;
      float: left;
      border: 0px; }
  .list-comments .btn-slider {
    display: none;
    position: absolute;
    top: 50%;
    z-index: 1;
    margin-top: -13px;
    text-indent: -9999px; }
    .list-comments .btn-slider.prev {
      left: -26px;
      background-image: url(/assets/images/mobile/sprites_mobile.png);
      background-position: -861px -222px;
      width: 16px;
      height: 26px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .list-comments .btn-slider.prev {
          background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
          background-size: 966px 938px; } }
    .list-comments .btn-slider.next {
      right: -26px;
      background-image: url(/assets/images/mobile/sprites_mobile.png);
      background-position: -936px -836px;
      width: 16px;
      height: 26px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .list-comments .btn-slider.next {
          background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
          background-size: 966px 938px; } }
  .list-comments .slick-dots {
    display: none;
    position: absolute;
    bottom: -30px;
    right: 0;
    left: 0;
    text-align: center; }
    .list-comments .slick-dots > li {
      display: inline-block;
      float: none;
      padding: 0; }
      .list-comments .slick-dots > li button {
        display: inline-block;
        box-sizing: border-box;
        margin: 0 3px;
        height: 10px;
        width: 10px;
        text-indent: -9999px;
        border: 2px solid #fff;
        border-radius: 10px;
        background-color: transparent; }
      .list-comments .slick-dots > li.slick-active button {
        background-color: #fff; }

.more-comments a {
  display: block;
  position: relative;
  padding: 12px 0 17px 0;
  text-indent: -9999px; }
  .more-comments a:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -6.5px;
    margin-left: -29.5px;
    background-image: url(/assets/images/mobile/sprites_mobile.png);
    background-position: -765px -698px;
    width: 59px;
    height: 13px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .more-comments a:before {
        background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
        background-size: 966px 938px; } }

/* 당신으로 부터, SAY 삼양 */
.say-samyang {
  position: relative;
  z-index: 3;
  padding-top: 110px;
  background: url("/assets/images/mobile/bg_section01.png") center bottom no-repeat;
  background-size: 100% auto; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .say-samyang {
      background-image: url("/assets/images/mobile/bg_section01@2x.png"); } }
  .say-samyang > .title {
    display: block;
    margin: 3px auto 0 auto;
    text-indent: -9999px;
    background-image: url(/assets/images/mobile/sprites_mobile.png);
    background-position: -256px -546px;
    width: 293px;
    height: 96px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .say-samyang > .title {
        background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
        background-size: 966px 938px; } }
  .say-samyang .video-container {
    position: relative;
    margin: 3px auto 0 auto;
    padding-bottom: 15px;
    min-height: 179px;
    width: 320px;
    text-align: center;
    background: url("/assets/images/mobile/bg_video_container.png") center top no-repeat; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      .say-samyang .video-container {
        background-image: url("/assets/images/mobile/bg_video_container@2x.png");
        background-size: 100%; } }
    .say-samyang .video-container .video {
      position: relative;
      top: 7px;
      z-index: 100;
      margin: 0 auto;
      height: 150px;
      width: 265px;
      background-color: rgba(255, 255, 255, 0.3); }
    .say-samyang .video-container .btn {
      display: inline-block;
      position: relative;
      margin: 25px 12px 0;
      text-indent: -9999px; }
      .say-samyang .video-container .btn.is-selected:before {
        content: '';
        display: block;
        position: absolute;
        top: -8px;
        left: 50%;
        margin-left: -7px; }
      .say-samyang .video-container .btn.btn-story-founded {
        background-image: url(/assets/images/mobile/sprites_mobile.png);
        background-position: -891px -164px;
        width: 75px;
        height: 76px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .say-samyang .video-container .btn.btn-story-founded {
            background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
            background-size: 966px 938px; } }
        .say-samyang .video-container .btn.btn-story-founded.is-selected:before {
          background-image: url(/assets/images/mobile/sprites_mobile.png);
          background-position: -861px -350px;
          width: 12px;
          height: 10px; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            .say-samyang .video-container .btn.btn-story-founded.is-selected:before {
              background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
              background-size: 966px 938px; } }
      .say-samyang .video-container .btn.btn-story-health {
        background-image: url(/assets/images/mobile/sprites_mobile.png);
        background-position: -891px 0px;
        width: 75px;
        height: 76px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .say-samyang .video-container .btn.btn-story-health {
            background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
            background-size: 966px 938px; } }
        .say-samyang .video-container .btn.btn-story-health.is-selected:before {
          background-image: url(/assets/images/mobile/sprites_mobile.png);
          background-position: -861px -382px;
          width: 12px;
          height: 10px; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            .say-samyang .video-container .btn.btn-story-health.is-selected:before {
              background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
              background-size: 966px 938px; } }
      .say-samyang .video-container .btn.btn-story-car {
        background-image: url(/assets/images/mobile/sprites_mobile.png);
        background-position: -891px -82px;
        width: 75px;
        height: 76px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .say-samyang .video-container .btn.btn-story-car {
            background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
            background-size: 966px 938px; } }
        .say-samyang .video-container .btn.btn-story-car.is-selected:before {
          background-image: url(/assets/images/mobile/sprites_mobile.png);
          background-position: -861px -366px;
          width: 12px;
          height: 10px; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            .say-samyang .video-container .btn.btn-story-car.is-selected:before {
              background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
              background-size: 966px 938px; } }

/* 당신의 소중한 이야기에 귀기울입니다. */
.summary-story {
  display: none;
  position: relative;
  z-index: 2;
  padding-top: 16px;
  padding-bottom: 50px;
  background-color: #50b3e1; }
  .summary-story > .title {
    margin: 0 auto;
    text-indent: -9999px;
    background-image: url(/assets/images/mobile/sprites_mobile.png);
    background-position: 0px -546px;
    width: 250px;
    height: 114px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .summary-story > .title {
        background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
        background-size: 966px 938px; } }

/* 삼양그룹에게 당신의 이야기를 들려주세요! */
.your-story {
  position: relative;
  z-index: 1;
  background-color: #fff;
  /* SNS 로그인 */
  /* 영상 선택 */
  /* 댓글 쓰기 */ }
  .your-story > header {
    background-color: #50b3e1; }
    .your-story > header > .inner {
      margin: 0 auto;
      padding: 17px 0px 20px 0px; }
      .your-story > header > .inner > .title {
        margin: 0 auto;
        text-indent: -9999px;
        background-image: url(/assets/images/mobile/sprites_mobile.png);
        background-position: -652px -433px;
        width: 198px;
        height: 84px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .your-story > header > .inner > .title {
            background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
            background-size: 966px 938px; } }
      .your-story > header > .inner .txt-desc {
        margin: 17px auto 0 auto;
        text-indent: -9999px;
        background-image: url(/assets/images/mobile/sprites_mobile.png);
        background-position: -246px -666px;
        width: 263px;
        height: 47px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .your-story > header > .inner .txt-desc {
            background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
            background-size: 966px 938px; } }
        .your-story > header > .inner .txt-desc br {
          display: none; }
      .your-story > header > .inner dl {
        display: block;
        position: relative;
        margin: 19px auto 0 auto;
        background-image: url(/assets/images/mobile/sprites_mobile.png);
        background-position: -190px -776px;
        width: 184px;
        height: 45px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .your-story > header > .inner dl {
            background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
            background-size: 966px 938px; } }
        .your-story > header > .inner dl dt, .your-story > header > .inner dl dd {
          position: absolute;
          top: -9999px;
          left: -9999px; }
      .your-story > header > .inner .message {
        display: block;
        margin: 20px auto 0 auto;
        text-indent: -9999px;
        background-image: url(/assets/images/mobile/sprites_mobile.png);
        background-position: -515px -666px;
        width: 244px;
        height: 45px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .your-story > header > .inner .message {
            background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
            background-size: 966px 938px; } }
      .your-story > header > .inner .list-gifts {
        margin: 17px auto 0 auto;
        text-align: center;
        background-image: url(/assets/images/mobile/sprites_mobile.png);
        background-position: -652px 0px;
        width: 233px;
        height: 216px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .your-story > header > .inner .list-gifts {
            background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
            background-size: 966px 938px; } }
        .your-story > header > .inner .list-gifts > li {
          display: none; }
  .your-story > .inner {
    position: relative;
    margin: 0 auto;
    padding: 38px 0 0 0;
    background: url("/assets/images/mobile/bg_section02.png") left top repeat-x; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      .your-story > .inner {
        background-image: url("/assets/images/mobile/bg_section02@2x.png"); } }
  .your-story .txt-sns-login {
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    background-image: url(/assets/images/mobile/sprites_mobile.png);
    background-position: -696px -732px;
    width: 179px;
    height: 18px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .your-story .txt-sns-login {
        background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
        background-size: 966px 938px; } }
  .your-story .login-btns {
    padding: 18px 0 20px 0;
    text-align: center; }
    .your-story .login-btns:after {
      content: '';
      display: block;
      margin: 18px auto 0 auto;
      height: 30px;
      width: 1px;
      background-color: #b3b3b3; }
    .your-story .login-btns a {
      display: inline-block;
      margin: 0 5px;
      text-indent: -9999px; }
      .your-story .login-btns a.facebook {
        background-image: url(/assets/images/mobile/sprites_mobile.png);
        background-position: -891px -246px;
        width: 67px;
        height: 67px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .your-story .login-btns a.facebook {
            background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
            background-size: 966px 938px; } }
        .your-story .login-btns a.facebook.is-selected {
          background-image: url(/assets/images/mobile/sprites_mobile.png);
          background-position: -891px -392px;
          width: 67px;
          height: 67px; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            .your-story .login-btns a.facebook.is-selected {
              background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
              background-size: 966px 938px; } }
      .your-story .login-btns a.twitter {
        background-image: url(/assets/images/mobile/sprites_mobile.png);
        background-position: -891px -538px;
        width: 67px;
        height: 67px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .your-story .login-btns a.twitter {
            background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
            background-size: 966px 938px; } }
        .your-story .login-btns a.twitter.is-selected {
          background-image: url(/assets/images/mobile/sprites_mobile.png);
          background-position: -891px -611px;
          width: 67px;
          height: 67px; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            .your-story .login-btns a.twitter.is-selected {
              background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
              background-size: 966px 938px; } }
      .your-story .login-btns a.kakaostory {
        background-image: url(/assets/images/mobile/sprites_mobile.png);
        background-position: -891px -465px;
        width: 67px;
        height: 67px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .your-story .login-btns a.kakaostory {
            background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
            background-size: 966px 938px; } }
        .your-story .login-btns a.kakaostory.is-selected {
          background-image: url(/assets/images/mobile/sprites_mobile.png);
          background-position: -891px -319px;
          width: 67px;
          height: 67px; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            .your-story .login-btns a.kakaostory.is-selected {
              background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
              background-size: 966px 938px; } }
  .your-story .select-video {
    overflow: hidden;
    margin: 0;
    padding: 0 0 20px 0;
    text-align: center; }
    .your-story .select-video:after {
      content: '';
      display: block;
      margin: 18px auto 0 auto;
      height: 30px;
      width: 1px;
      background-color: #b3b3b3; }
    .your-story .select-video > legend {
      display: block;
      position: static;
      visibility: visible;
      margin: 0 auto 0px auto;
      background-image: url(/assets/images/mobile/sprites_mobile.png);
      background-position: -461px -732px;
      width: 229px;
      height: 18px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .your-story .select-video > legend {
          background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
          background-size: 966px 938px; } }
    .your-story .select-video .iradio {
      display: block;
      margin-top: 20px; }
      .your-story .select-video .iradio + label {
        display: block;
        margin: 0 auto;
        text-indent: -9999px;
        cursor: pointer; }
        .your-story .select-video .iradio + label.radio-video01 {
          background-image: url(/assets/images/mobile/sprites_mobile.png);
          background-position: 0px -193px;
          width: 320px;
          height: 171px; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            .your-story .select-video .iradio + label.radio-video01 {
              background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
              background-size: 966px 938px; } }
        .your-story .select-video .iradio + label.radio-video02 {
          background-image: url(/assets/images/mobile/sprites_mobile.png);
          background-position: 0px 0px;
          width: 320px;
          height: 187px; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            .your-story .select-video .iradio + label.radio-video02 {
              background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
              background-size: 966px 938px; } }
        .your-story .select-video .iradio + label.radio-video03 {
          background-image: url(/assets/images/mobile/sprites_mobile.png);
          background-position: 0px -370px;
          width: 320px;
          height: 170px; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            .your-story .select-video .iradio + label.radio-video03 {
              background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
              background-size: 966px 938px; } }
      .your-story .select-video .iradio.checked + .radio-video01 {
        background-image: url(/assets/images/mobile/sprites_mobile.png);
        background-position: -326px -193px;
        width: 320px;
        height: 171px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .your-story .select-video .iradio.checked + .radio-video01 {
            background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
            background-size: 966px 938px; } }
      .your-story .select-video .iradio.checked + .radio-video02 {
        background-image: url(/assets/images/mobile/sprites_mobile.png);
        background-position: -326px 0px;
        width: 320px;
        height: 187px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .your-story .select-video .iradio.checked + .radio-video02 {
            background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
            background-size: 966px 938px; } }
      .your-story .select-video .iradio.checked + .radio-video03 {
        background-image: url(/assets/images/mobile/sprites_mobile.png);
        background-position: -326px -370px;
        width: 320px;
        height: 170px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .your-story .select-video .iradio.checked + .radio-video03 {
            background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
            background-size: 966px 938px; } }
  .your-story .write-comment {
    padding: 0 18px; }
    .your-story .write-comment > legend {
      display: block;
      position: static;
      visibility: visible;
      margin: 0 auto;
      background-image: url(/assets/images/mobile/sprites_mobile.png);
      background-position: -380px -776px;
      width: 192px;
      height: 40px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .your-story .write-comment > legend {
          background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
          background-size: 966px 938px; } }
    .your-story .write-comment .writer {
      overflow: hidden;
      position: relative;
      margin-top: 20px; }
    .your-story .write-comment textarea {
      display: block;
      box-sizing: border-box;
      padding: 10px 12px 0 12px;
      height: 83px;
      width: 100%;
      font-size: 11px;
      color: #4c4c4c;
      line-height: 17px;
      border: 2px solid #bdc3c5;
      border-bottom: 0px;
      background-color: #f0f0f0;
      background-size: 257px auto; }
    .your-story .write-comment .btn-write {
      display: block;
      height: 44px;
      width: 100%;
      background-color: #50b3e1; }
      .your-story .write-comment .btn-write span {
        display: inline-block;
        margin: 0 auto;
        text-indent: -9999px;
        background-image: url(/assets/images/mobile/sprites_mobile.png);
        background-position: -712px -851px;
        width: 86px;
        height: 15px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .your-story .write-comment .btn-write span {
            background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
            background-size: 966px 938px; } }
    .your-story .write-comment .remain-txt {
      display: block;
      position: absolute;
      bottom: 50px;
      right: 10px;
      font-size: 10px;
      color: #666; }

/* 이벤트 유의사항 */
.guide {
  padding: 17px 0 17px 20px;
  border-top: 1px solid #d6d6d6;
  background-color: #e6e6e6; }
  .guide > .title {
    text-indent: -9999px;
    background-image: url(/assets/images/mobile/sprites_mobile.png);
    background-position: -601px -851px;
    width: 105px;
    height: 15px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .guide > .title {
        background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
        background-size: 966px 938px; } }
  .guide .list-guide {
    position: relative;
    overflow: hidden;
    margin-top: 16px;
    background-image: url(/assets/images/mobile/sprites_mobile.png);
    background-position: -555px -546px;
    width: 289px;
    height: 87px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .guide .list-guide {
        background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
        background-size: 966px 938px; } }
    .guide .list-guide > li {
      position: absolute;
      top: -9999px;
      left: -9999px; }

/* 응모팝업 */
.popup-application {
  margin: 45px 19px 0 19px;
  padding: 21px 23px 25px 23px;
  background: #fff url("/assets/images/mobile/bg_popup01.png") center top no-repeat;
  background-size: 100% auto;
  /* 기본 정보 */
  /* 동의 항목 */ }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .popup-application {
      background-image: url("/assets/images/mobile/bg_popup01@2x.png"); } }
  .popup-application > .title {
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    background-image: url(/assets/images/mobile/sprites_mobile.png);
    background-position: 0px -732px;
    width: 253px;
    height: 38px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .popup-application > .title {
        background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
        background-size: 966px 938px; } }
  .popup-application .basic-info {
    margin: 33px 0 0 0;
    padding: 8px 0 8px 13px;
    color: #bdc3c5;
    text-align: left;
    border: 1px solid #e6e6e6; }
    .popup-application .basic-info p + p {
      margin-top: 8px; }
    .popup-application .basic-info label {
      display: inline-block;
      text-indent: -9999px;
      vertical-align: middle; }
      .popup-application .basic-info label.txt-name {
        margin-right: 15px;
        background-image: url(/assets/images/mobile/sprites_mobile.png);
        background-position: -861px -335px;
        width: 16px;
        height: 9px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .popup-application .basic-info label.txt-name {
            background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
            background-size: 966px 938px; } }
      .popup-application .basic-info label.txt-phone {
        margin-right: 8px;
        background-image: url(/assets/images/mobile/sprites_mobile.png);
        background-position: -861px -320px;
        width: 23px;
        height: 9px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .popup-application .basic-info label.txt-phone {
            background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
            background-size: 966px 938px; } }
    .popup-application .basic-info input[type=text] {
      height: 20px;
      width: 40px;
      font-size: 10px;
      color: #333;
      line-height: 20px;
      vertical-align: middle;
      text-align: center;
      border: 1px solid #bdc3c5;
      background-color: #f0f0f0; }
  .popup-application .agreements {
    margin-top: 17px; }
    .popup-application .agreements + .agreements {
      padding-top: 17px;
      border-top: 1px dashed #bcbcbc; }
    .popup-application .agreements .txt-agreement01 {
      display: block;
      text-indent: -9999px;
      background-image: url(/assets/images/mobile/sprites_mobile.png);
      background-position: -259px -732px;
      width: 196px;
      height: 22px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .popup-application .agreements .txt-agreement01 {
          background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
          background-size: 966px 938px; } }
    .popup-application .agreements .txt-agreement02 {
      display: block;
      text-indent: -9999px;
      background-image: url(/assets/images/mobile/sprites_mobile.png);
      background-position: -190px -851px;
      width: 134px;
      height: 22px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .popup-application .agreements .txt-agreement02 {
          background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
          background-size: 966px 938px; } }
    .popup-application .agreements .list-agreement {
      margin-top: 6px;
      padding: 7px 0 7px 12px;
      background-color: #f0f0f0; }
      .popup-application .agreements .list-agreement > li {
        font-size: 10px;
        color: #666;
        line-height: 17px;
        letter-spacing: -0.1em; }
        .popup-application .agreements .list-agreement > li em {
          font-weight: bold; }
          .popup-application .agreements .list-agreement > li em:before {
            content: '·';
            margin-right: 2px; }
    .popup-application .agreements .message {
      margin-top: 6px;
      font-size: 10px;
      color: #f28975;
      text-align: center;
      line-height: 12px; }
    .popup-application .agreements .radios {
      margin-top: 12px;
      text-align: center; }
    .popup-application .agreements .iradio {
      display: inline-block; }
      .popup-application .agreements .iradio + label {
        display: inline-block;
        margin: 0 8px;
        text-indent: -9999px;
        cursor: pointer; }
        .popup-application .agreements .iradio + label.agreement-yes {
          background-image: url(/assets/images/mobile/sprites_mobile.png);
          background-position: 0px -916px;
          width: 58px;
          height: 22px; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            .popup-application .agreements .iradio + label.agreement-yes {
              background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
              background-size: 966px 938px; } }
        .popup-application .agreements .iradio + label.agreement-no {
          background-image: url(/assets/images/mobile/sprites_mobile.png);
          background-position: -891px -782px;
          width: 69px;
          height: 22px; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            .popup-application .agreements .iradio + label.agreement-no {
              background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
              background-size: 966px 938px; } }
      .popup-application .agreements .iradio.checked + .agreement-yes {
        background-image: url(/assets/images/mobile/sprites_mobile.png);
        background-position: -64px -916px;
        width: 58px;
        height: 22px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .popup-application .agreements .iradio.checked + .agreement-yes {
            background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
            background-size: 966px 938px; } }
      .popup-application .agreements .iradio.checked + .agreement-no {
        background-image: url(/assets/images/mobile/sprites_mobile.png);
        background-position: -891px -754px;
        width: 69px;
        height: 22px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .popup-application .agreements .iradio.checked + .agreement-no {
            background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
            background-size: 966px 938px; } }
  .popup-application .btn-application {
    display: block;
    margin: 17px auto 0 auto;
    text-indent: -9999px;
    background-image: url(/assets/images/mobile/sprites_mobile.png);
    background-position: -95px -776px;
    width: 89px;
    height: 102px;
    background-color: transparent; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .popup-application .btn-application {
        background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
        background-size: 966px 938px; } }
  .popup-application .mfp-close {
    display: block;
    position: absolute;
    top: 0px;
    right: 19px;
    text-indent: -9999px;
    background-image: url(/assets/images/mobile/sprites_mobile.png);
    background-position: -891px -836px;
    width: 39px;
    height: 39px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .popup-application .mfp-close {
        background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
        background-size: 966px 938px; } }

/* 당첨자팝업 */
.popup-winner {
  margin: 45px 19px 0 19px;
  padding: 29px 0px 20px 0px;
  background: #fff url("/assets/images/mobile/bg_popup02.png") center top no-repeat;
  background-size: 100% 128px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .popup-winner {
      background-image: url("/assets/images/mobile/bg_popup02@2x.png"); } }
  .popup-winner > .title {
    display: block;
    margin: 0 auto 30px auto;
    text-indent: -9999px;
    background-image: url(/assets/images/mobile/sprites_mobile.png);
    background-position: 0px -666px;
    width: 240px;
    height: 60px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .popup-winner > .title {
        background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
        background-size: 966px 938px; } }
  .popup-winner .box {
    padding: 20px 14px 0 14px;
    border-top: 2px solid #e9e9e9; }
    .popup-winner .box.top {
      border-top: 0px; }
    .popup-winner .box .title-winner01 {
      display: block;
      margin-left: 10px;
      text-indent: -9999px;
      background-image: url(/assets/images/mobile/sprites_mobile.png);
      background-position: -564px -827px;
      width: 157px;
      height: 18px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .popup-winner .box .title-winner01 {
          background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
          background-size: 966px 938px; } }
    .popup-winner .box .title-winner02 {
      display: block;
      margin-left: 10px;
      text-indent: -9999px;
      background-image: url(/assets/images/mobile/sprites_mobile.png);
      background-position: -727px -827px;
      width: 154px;
      height: 18px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .popup-winner .box .title-winner02 {
          background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
          background-size: 966px 938px; } }
    .popup-winner .box .title-winner03 {
      display: block;
      margin-left: 10px;
      text-indent: -9999px;
      background-image: url(/assets/images/mobile/sprites_mobile.png);
      background-position: -393px -827px;
      width: 165px;
      height: 18px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .popup-winner .box .title-winner03 {
          background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
          background-size: 966px 938px; } }
    .popup-winner .box .title-winner04 {
      display: block;
      margin-left: 10px;
      text-indent: -9999px;
      background-image: url(/assets/images/mobile/sprites_mobile.png);
      background-position: -330px -851px;
      width: 138px;
      height: 18px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .popup-winner .box .title-winner04 {
          background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
          background-size: 966px 938px; } }
    .popup-winner .box .title-winner05 {
      display: block;
      margin-left: 10px;
      text-indent: -9999px;
      background-image: url(/assets/images/mobile/sprites_mobile.png);
      background-position: -190px -827px;
      width: 197px;
      height: 18px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .popup-winner .box .title-winner05 {
          background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
          background-size: 966px 938px; } }
    .popup-winner .box .title-winner06 {
      display: block;
      margin-left: 10px;
      text-indent: -9999px;
      background-image: url(/assets/images/mobile/sprites_mobile.png);
      background-position: -578px -776px;
      width: 208px;
      height: 18px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .popup-winner .box .title-winner06 {
          background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
          background-size: 966px 938px; } }
    .popup-winner .box .title-winner07 {
      display: block;
      margin-left: 10px;
      text-indent: -9999px;
      background-image: url(/assets/images/mobile/sprites_mobile.png);
      background-position: -474px -851px;
      width: 121px;
      height: 18px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .popup-winner .box .title-winner07 {
          background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
          background-size: 966px 938px; } }
    .popup-winner .box .list-winner {
      overflow: hidden;
      margin-top: 5px;
      padding: 11px 0;
      border: 1px solid #fff; }
      .popup-winner .box .list-winner > li {
        float: left;
        width: 50%;
        font-size: 10px;
        color: #262626;
        line-height: 18px;
        text-align: center; }
      .popup-winner .box .list-winner.full > li {
        float: none;
        width: 50%; }
      .popup-winner .box .list-winner.over {
        overflow: scroll;
        margin-top: 15px;
        margin-bottom: 20px;
        max-height: 195px;
        border: 1px solid #c5c5c5; }
  .popup-winner .btn-confirm {
    display: block;
    margin: 20px auto 0 auto;
    text-indent: -9999px;
    background-image: url(/assets/images/mobile/sprites_mobile.png);
    background-position: 0px -776px;
    width: 89px;
    height: 102px;
    background-color: transparent; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .popup-winner .btn-confirm {
        background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
        background-size: 966px 938px; } }
  .popup-winner .mfp-close {
    display: block;
    position: absolute;
    top: 0px;
    right: 19px;
    text-indent: -9999px;
    background-image: url(/assets/images/mobile/sprites_mobile.png);
    background-position: -891px -836px;
    width: 39px;
    height: 39px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .popup-winner .mfp-close {
        background-image: url(/assets/images/mobile/sprites_mobile@2x.png);
        background-size: 966px 938px; } }
