@charset "UTF-8";
@import url(nanumgothic.css);
@import url(slick.css);
@import url(magnific-popup.css);
/**
 * variable
 */
body {
  background-color: #fff; }

/* Common Style */
* {
  margin: 0;
  padding: 0; }

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, q, s, samp, strike, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  border: 0 none; }

body {
  position: relative;
  /*min-height: 800px;*/
  min-width: 1160px;
  margin: 0 auto;
  font-size: 100%;
  line-height: 1em;
  font-family: "Nanum Gothic", sans-serif;
  -ms-text-size-adjust: 100%;
      text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

header, h1 {
  font-size: 100%; }

html, body {
  height: 100%; }

caption, legend {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  visibility: hidden; }

caption {
  display: none; }

img {
  border: none;
  vertical-align: top;
  /*width: 100%;*/ }

select, input {
  vertical-align: top; }

hr {
  display: none;
  border: 0 none; }

ol, ul, ul li {
  list-style: none; }

em {
  font-style: normal; }

menu li {
  list-style: none; }

address {
  display: inline;
  font-style: normal; }

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 0px;
  background-color: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, textarea, keygen, select, button {
  font-family: "Nanum Gothic", sans-serif; }

strong {
  font-weight: normal; }

dfn {
  font-style: normal; }

/* link Style */
a:link, a:visited, a:active, a:focus {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.hidden {
  display: none !important; }

.visible-hidden {
  visibility: hidden !important; }

.clear {
  clear: both; }

.txt-center {
  text-align: center !important; }

/* forms */
fieldset {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

input[type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 0px; }

::-webkit-input-placeholder {
  color: #ccd0d7; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #ccd0d7; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccd0d7; }

:-ms-input-placeholder {
  color: #ccd0d7; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/**
 * z-index
**/
/**
 * states
 */
/**
 * import
 */
/* GNB HEADER */
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 78px;
  border-bottom: 1px solid #c7c7c7;
  background-color: #fff; }
  .header > .inner {
    position: relative;
    margin: 0 auto;
    padding-top: 14px;
    height: 64px;
    width: 1000px; }
  .header .logo {
    display: block;
    text-indent: -9999px;
    background-image: url(/assets/images/sprites.png);
    background-position: -540px -129px;
    width: 165px;
    height: 43px; }
  .header .menus {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 32px; }
    .header .menus ul > li {
      position: relative;
      display: inline-block;
      vertical-align: top; }
      .header .menus ul > li a {
        display: inline-block;
        text-indent: -9999px; }
        .header .menus ul > li a.menu01 {
          background-image: url(/assets/images/sprites.png);
          background-position: -339px -458px;
          width: 104px;
          height: 14px; }
          .header .menus ul > li a.menu01:hover {
            background-image: url(/assets/images/sprites.png);
            background-position: -540px -284px;
            width: 104px;
            height: 15px; }
          .header .menus ul > li a.menu01.is-selected {
            background-image: url(/assets/images/sprites.png);
            background-position: -540px -284px;
            width: 104px;
            height: 15px; }
        .header .menus ul > li a.menu02 {
          background-image: url(/assets/images/sprites.png);
          background-position: -540px -305px;
          width: 112px;
          height: 13px; }
          .header .menus ul > li a.menu02:hover {
            background-image: url(/assets/images/sprites.png);
            background-position: -339px -439px;
            width: 112px;
            height: 13px; }
          .header .menus ul > li a.menu02.is-selected {
            background-image: url(/assets/images/sprites.png);
            background-position: -339px -439px;
            width: 112px;
            height: 13px; }
        .header .menus ul > li a.menu03 {
          position: relative;
          top: -14px;
          background-image: url(/assets/images/sprites.png);
          background-position: -540px -218px;
          width: 113px;
          height: 27px; }
          .header .menus ul > li a.menu03:hover {
            background-image: url(/assets/images/sprites.png);
            background-position: -540px -251px;
            width: 113px;
            height: 27px; }
          .header .menus ul > li a.menu03.is-selected {
            background-image: url(/assets/images/sprites.png);
            background-position: -540px -251px;
            width: 113px;
            height: 27px; }
      .header .menus ul > li + li {
        margin-left: 25px;
        padding-left: 35px; }
        .header .menus ul > li + li:before {
          content: '';
          display: block;
          position: absolute;
          top: 5px;
          left: 0;
          background-image: url(/assets/images/sprites.png);
          background-position: -677px -178px;
          width: 5px;
          height: 5px; }

/* contents */
main {
  padding-top: 79px; }

/* FOOTER */
.footer {
  height: 92px;
  background-color: #fff; }
  .footer > .inner {
    position: relative;
    margin: 0 auto;
    padding-top: 30px;
    width: 1000px; }
  .footer .logo {
    display: block;
    position: absolute;
    top: 28px;
    right: 0;
    text-indent: -9999px;
    background-image: url(/assets/images/sprites.png);
    background-position: -540px -178px;
    width: 131px;
    height: 34px; }
  .footer .txt-copyright {
    display: block;
    text-indent: -9999px;
    background-image: url(/assets/images/sprites.png);
    background-position: 0px -507px;
    width: 375px;
    height: 12px; }
  .footer .txt-address {
    display: block;
    margin-top: 8px;
    text-indent: -9999px;
    background-image: url(/assets/images/sprites.png);
    background-position: -339px -422px;
    width: 336px;
    height: 11px; }

/* CONTENTS */
/* 당신으로 부터, SAY 삼양 */
.say-samyang {
  background: url("/assets/images/bg_section01.jpg") center bottom no-repeat; }
  .say-samyang > .inner {
    margin: 0 auto;
    width: 1160px; }
    .say-samyang > .inner > .title {
      display: block;
      margin: 20px auto 0 auto;
      text-indent: -9999px;
      background-image: url(/assets/images/sprites.png);
      background-position: 0px 0px;
      width: 710px;
      height: 123px; }
  .say-samyang .video-container {
    position: relative;
    margin-top: 30px;
    padding-top: 20px;
    height: 670px;
    background: url("/assets/images/bg_video_container.png") center top no-repeat; }
    .say-samyang .video-container .video {
      margin: 0 auto;
      height: 395px;
      width: 700px; }
    .say-samyang .video-container .description {
      position: absolute;
      top: 456px;
      left: 50%;
      margin-left: -200px;
      height: 81px;
      width: 400px;
      text-indent: -9999px;
      background-color: #0f0; }
    .say-samyang .video-container .btn {
      display: block;
      text-indent: -9999px; }
      .say-samyang .video-container .btn.btn-story-founded {
        background-image: url(/assets/images/sprites.png);
        background-position: 0px -129px;
        width: 174px;
        height: 200px; }
      .say-samyang .video-container .btn.btn-story-health {
        background-image: url(/assets/images/sprites.png);
        background-position: -360px -129px;
        width: 174px;
        height: 200px; }
      .say-samyang .video-container .btn.btn-story-car {
        background-image: url(/assets/images/sprites.png);
        background-position: -180px -129px;
        width: 174px;
        height: 200px; }
