@charset "UTF-8";
@import url(nanumgothic.css);
@import url(slick.css);
@import url(magnific-popup.css);
/**
 * variable
 */
body {
  background-color: #fff; }

/* Common Style */
* {
  margin: 0;
  padding: 0; }

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, q, s, samp, strike, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  border: 0 none; }

body {
  position: relative;
  /*min-height: 800px;*/
  min-width: 1160px;
  margin: 0 auto;
  font-size: 100%;
  line-height: 1em;
  font-family: "Nanum Gothic", sans-serif;
  -ms-text-size-adjust: 100%;
      text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

header, h1 {
  font-size: 100%; }

html, body {
  height: 100%; }

caption, legend {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  visibility: hidden; }

caption {
  display: none; }

img {
  border: none;
  vertical-align: top;
  /*width: 100%;*/ }

select, input {
  vertical-align: top; }

hr {
  display: none;
  border: 0 none; }

ol, ul, ul li {
  list-style: none; }

em {
  font-style: normal; }

menu li {
  list-style: none; }

address {
  display: inline;
  font-style: normal; }

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 0px;
  background-color: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, textarea, keygen, select, button {
  font-family: "Nanum Gothic", sans-serif; }

strong {
  font-weight: normal; }

dfn {
  font-style: normal; }

/* link Style */
a:link, a:visited, a:active, a:focus {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.hidden {
  display: none !important; }

.visible-hidden {
  visibility: hidden !important; }

.clear {
  clear: both; }

.txt-center {
  text-align: center !important; }

/* forms */
fieldset {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

input[type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 0px; }

::-webkit-input-placeholder {
  color: #ccd0d7; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #ccd0d7; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccd0d7; }

:-ms-input-placeholder {
  color: #ccd0d7; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/**
 * z-index
**/
/**
 * states
 */
/**
 * import
 */
/* GNB HEADER */
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 800;
  height: 78px;
  border-bottom: 1px solid #c7c7c7;
  background-color: #fff; }
  .header > .inner {
    position: relative;
    margin: 0 auto;
    padding-top: 14px;
    height: 64px;
    width: 1000px; }
  .header .logo {
    display: block;
    text-indent: -9999px;
    background-image: url(/assets/images/sprites.png);
    background-position: -1162px -364px;
    width: 165px;
    height: 43px; }
  .header .menus {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 32px; }
    .header .menus ul > li {
      position: relative;
      display: inline-block;
      vertical-align: top; }
      .header .menus ul > li a {
        display: inline-block;
        text-indent: -9999px; }
        .header .menus ul > li a.menu01 {
          background-image: url(/assets/images/sprites.png);
          background-position: -984px -683px;
          width: 132px;
          height: 14px; }
          .header .menus ul > li a.menu01:hover {
            background-image: url(/assets/images/sprites.png);
            background-position: -846px -683px;
            width: 132px;
            height: 14px; }
          .header .menus ul > li a.menu01.is-selected {
            background-image: url(/assets/images/sprites.png);
            background-position: -846px -683px;
            width: 132px;
            height: 14px; }
        .header .menus ul > li a.menu02 {
          background-image: url(/assets/images/sprites.png);
          background-position: -1037px -644px;
          width: 115px;
          height: 14px; }
          .header .menus ul > li a.menu02:hover {
            background-image: url(/assets/images/sprites.png);
            background-position: -632px -354px;
            width: 115px;
            height: 14px; }
          .header .menus ul > li a.menu02.is-selected {
            background-image: url(/assets/images/sprites.png);
            background-position: -632px -354px;
            width: 115px;
            height: 14px; }
        .header .menus ul > li a.menu03 {
          position: relative;
          top: -14px;
          background-image: url(/assets/images/sprites.png);
          background-position: -1162px -708px;
          width: 116px;
          height: 28px; }
          .header .menus ul > li a.menu03:hover {
            background-image: url(/assets/images/sprites.png);
            background-position: -1162px -742px;
            width: 116px;
            height: 28px; }
          .header .menus ul > li a.menu03.is-selected {
            background-image: url(/assets/images/sprites.png);
            background-position: -1162px -742px;
            width: 116px;
            height: 28px; }
      .header .menus ul > li + li {
        margin-left: 25px;
        padding-left: 35px; }
        .header .menus ul > li + li:before {
          content: '';
          display: block;
          position: absolute;
          top: 5px;
          left: 0;
          background-image: url(/assets/images/sprites.png);
          background-position: -1328px -668px;
          width: 5px;
          height: 5px; }

/* contents */
/* FOOTER */
.footer {
  height: 92px;
  background-color: #fff; }
  .footer > .inner {
    position: relative;
    margin: 0 auto;
    padding-top: 30px;
    width: 1000px; }
  .footer .logo {
    display: block;
    position: absolute;
    top: 28px;
    right: 0;
    text-indent: -9999px;
    background-image: url(/assets/images/sprites.png);
    background-position: -1162px -668px;
    width: 131px;
    height: 34px; }
  .footer .txt-copyright {
    display: block;
    text-indent: -9999px;
    background-image: url(/assets/images/sprites.png);
    background-position: -349px -1054px;
    width: 403px;
    height: 12px; }
  .footer .txt-address {
    display: block;
    margin-top: 8px;
    text-indent: -9999px;
    background-image: url(/assets/images/sprites.png);
    background-position: -950px -1015px;
    width: 318px;
    height: 11px; }

/* CONTENTS */
/* 댓글 목록 */
.comment-item {
  position: relative;
  padding: 14px 0 23px 143px;
  min-height: 82px;
  /* 카드 스타일 */ }
  .comment-item .user {
    position: absolute;
    top: 0;
    left: 0;
    width: 128px; }
    .comment-item .user .thumb {
      position: relative;
      margin: 14px auto 0 auto;
      height: 68px;
      width: 68px; }
      .comment-item .user .thumb .via {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        text-indent: -9999px; }
        .comment-item .user .thumb .via.facebook {
          background-image: url(/assets/images/sprites.png);
          background-position: -1313px -708px;
          width: 23px;
          height: 24px; }
        .comment-item .user .thumb .via.twitter {
          background-image: url(/assets/images/sprites.png);
          background-position: -1284px -708px;
          width: 23px;
          height: 24px; }
        .comment-item .user .thumb .via.kakaostory {
          background-image: url(/assets/images/sprites.png);
          background-position: -1299px -668px;
          width: 23px;
          height: 24px; }
      .comment-item .user .thumb img {
        display: block;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        border: 4px solid #0895d7;
        border-radius: 68px; }
    .comment-item .user figcaption {
      display: block;
      text-align: center; }
    .comment-item .user .icons {
      display: block;
      position: absolute;
      top: 22px;
      left: 143px;
      text-indent: -9999px; }
    .comment-item .user .name {
      display: block;
      margin: 9px auto 0 auto;
      font-size: 12px;
      font-weight: bold;
      color: #333; }
      .comment-item .user .name:before {
        content: attr(data-before);
        margin-right: 3px;
        font-weight: normal;
        letter-spacing: -0.1em; }
    .comment-item .user.founded img {
      border: 4px solid #0895d7; }
    .comment-item .user.founded .icons {
      top: 28px;
      background-image: url(/assets/images/sprites.png);
      background-position: -632px -374px;
      width: 93px;
      height: 18px; }
    .comment-item .user.health img {
      border: 4px solid #f15234; }
    .comment-item .user.health .icons {
      background-image: url(/assets/images/sprites.png);
      background-position: -1162px -924px;
      width: 93px;
      height: 26px; }
    .comment-item .user.car img {
      border: 4px solid #9bb226; }
    .comment-item .user.car .icons {
      top: 26px;
      background-image: url(/assets/images/sprites.png);
      background-position: -1162px -898px;
      width: 116px;
      height: 20px; }
  .comment-item .comment {
    margin-top: 42px;
    font-size: 14px;
    color: #4c4c4c;
    line-height: 20px;
    word-break: break-all; }
  .type-card .comment-item {
    padding: 35px 22px 0 21px;
    min-height: auto;
    height: 273px;
    width: 260px;
    background: url("/assets/images/bg_card.png") left top no-repeat; }
    .type-card .comment-item .user {
      overflow: hidden;
      position: static;
      width: 100%; }
      .type-card .comment-item .user .thumb {
        float: left;
        margin: 0 0 0 14px;
        height: 80px;
        width: 80px; }
        .type-card .comment-item .user .thumb .via {
          display: none; }
      .type-card .comment-item .user figcaption {
        float: left;
        padding-left: 18px; }
      .type-card .comment-item .user .icons {
        position: static; }
      .type-card .comment-item .user .name {
        margin: 5px 0 0 0;
        font-size: 14px;
        color: #333;
        text-align: left; }
        .type-card .comment-item .user .name:before {
          content: '';
          display: inline-block;
          margin-right: 5px;
          vertical-align: middle;
          background-image: url(/assets/images/sprites.png);
          background-position: -1302px -347px;
          width: 34px;
          height: 11px; }
      .type-card .comment-item .user.founded .icons {
        margin-top: 19px;
        background-image: url(/assets/images/sprites.png);
        background-position: -1162px -868px;
        width: 100px;
        height: 24px; }
      .type-card .comment-item .user.health .icons {
        margin-top: 14px;
        background-image: url(/assets/images/sprites.png);
        background-position: -1162px -833px;
        width: 94px;
        height: 29px; }
      .type-card .comment-item .user.car .icons {
        margin-top: 22px;
        background-image: url(/assets/images/sprites.png);
        background-position: -1162px -805px;
        width: 121px;
        height: 22px; }
    .type-card .comment-item .comment {
      display: block;
      overflow: hidden;
      margin: 20px 0 0 0;
      padding: 20px 9px 0 9px;
      height: 130px;
      font-size: 12px;
      color: #333;
      line-height: 22px;
      border-top: 1px dashed #b8b8b8; }

.list-comments {
  margin-top: 20px;
  border-bottom: 2px solid #c7c7c7;
  /* 카드 스타일 */ }
  .list-comments li {
    position: relative;
    border-top: 1px solid #e2e2e2; }
    .list-comments li:first-child {
      border-top: 2px solid #c7c7c7; }
  .list-comments.type-card {
    box-sizing: border-box;
    margin: 50px auto 0 auto;
    padding-left: 19px;
    width: 1000px;
    border: 0px; }
    .list-comments.type-card li {
      display: block;
      float: left;
      border: 0px; }
  .list-comments .btn-slider {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    text-indent: -9999px; }
    .list-comments .btn-slider.prev {
      left: -35px;
      background-image: url(/assets/images/sprites.png);
      background-position: -1302px -206px;
      width: 25px;
      height: 41px; }
      .list-comments .btn-slider.prev:hover {
        background-image: url(/assets/images/sprites.png);
        background-position: -1302px -253px;
        width: 25px;
        height: 41px; }
    .list-comments .btn-slider.next {
      right: -35px;
      background-image: url(/assets/images/sprites.png);
      background-position: -1302px -300px;
      width: 25px;
      height: 41px; }
      .list-comments .btn-slider.next:hover {
        background-image: url(/assets/images/sprites.png);
        background-position: -812px -123px;
        width: 25px;
        height: 41px; }
  .list-comments .slick-dots {
    position: absolute;
    bottom: -41px;
    right: 0;
    left: 0;
    text-align: center; }
    .list-comments .slick-dots > li {
      display: inline-block;
      float: none; }
      .list-comments .slick-dots > li button {
        display: inline-block;
        margin: 0 3px;
        text-indent: -9999px;
        background-image: url(/assets/images/sprites.png);
        background-position: -1310px -805px;
        width: 15px;
        height: 16px; }
      .list-comments .slick-dots > li.slick-active button {
        background-image: url(/assets/images/sprites.png);
        background-position: -1289px -805px;
        width: 15px;
        height: 16px; }

.more-comments {
  padding: 15px 0 0 0; }
  .more-comments a {
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    background-image: url(/assets/images/sprites.png);
    background-position: -1268px -868px;
    width: 68px;
    height: 15px; }

/* 당신으로 부터, SAY 삼양 */
.say-samyang {
  position: relative;
  z-index: 3;
  padding-top: 79px;
  background: url("/assets/images/bg_section01.jpg") center bottom no-repeat; }
  .say-samyang > .inner {
    margin: 0 auto;
    width: 1160px; }
    .say-samyang > .inner > .title {
      display: block;
      margin: 20px auto 0 auto;
      text-indent: -9999px;
      background-image: url(/assets/images/sprites.png);
      background-position: 0px -824px;
      width: 577px;
      height: 122px; }
  .say-samyang .video-container {
    position: relative;
    margin-top: 30px;
    padding-top: 20px;
    height: 670px;
    background: url("/assets/images/bg_video_container.png") center top no-repeat; }
    .say-samyang .video-container .video {
      position: relative;
      z-index: 100;
      margin: 0 auto;
      height: 395px;
      width: 700px;
      background-color: #000; }
    .say-samyang .video-container .description {
      position: absolute;
      top: 456px;
      left: 50%;
      margin-left: -200px;
      height: 81px;
      width: 400px; }
      .say-samyang .video-container .description .story-founded {
        margin: 0 auto;
        text-indent: -9999px;
        background-image: url(/assets/images/sprites.png);
        background-position: -583px -824px;
        width: 343px;
        height: 80px; }
      .say-samyang .video-container .description .story-health {
        margin: 0 auto;
        text-indent: -9999px;
        background-image: url(/assets/images/sprites.png);
        background-position: -674px -703px;
        width: 376px;
        height: 80px; }
      .say-samyang .video-container .description .story-car {
        margin: 0 auto;
        text-indent: -9999px;
        background-image: url(/assets/images/sprites.png);
        background-position: 0px -1015px;
        width: 343px;
        height: 80px; }
    .say-samyang .video-container .btn {
      display: block;
      position: absolute;
      top: 143px;
      left: 449px;
      text-indent: -9999px; }
      .say-samyang .video-container .btn.btn-story-founded {
        background-image: url(/assets/images/sprites.png);
        background-position: -632px -123px;
        width: 174px;
        height: 200px; }
      .say-samyang .video-container .btn.btn-story-health {
        background-image: url(/assets/images/sprites.png);
        background-position: -632px -413px;
        width: 174px;
        height: 200px; }
      .say-samyang .video-container .btn.btn-story-car {
        background-image: url(/assets/images/sprites.png);
        background-position: -1162px 0px;
        width: 174px;
        height: 200px; }

/* 당신의 소중한 이야기에 귀기울입니다. */
.summary-story {
  position: relative;
  z-index: 2;
  background-color: #50b3e1; }
  .msie8 .summary-story,
  .msie9 .summary-story,
  .msie10 .summary-story,
  .msie11 .summary-story {
    margin-top: -79px;
    padding-top: 79px; }
  .summary-story > .inner {
    margin: 0 auto;
    padding: 33px 0 88px 0;
    width: 1160px; }
    .summary-story > .inner > .title {
      margin: 0 auto;
      text-indent: -9999px;
      background-image: url(/assets/images/sprites.png);
      background-position: 0px 0px;
      width: 840px;
      height: 117px; }

/* 삼양그룹에게 당신의 이야기를 들려주세요! */
.your-story {
  position: relative;
  z-index: 1;
  background-color: #fff;
  /* SNS 로그인 */
  /* 영상 선택 */
  /* 댓글 쓰기 */ }
  .your-story:before {
    content: '';
    display: block;
    position: absolute;
    top: 683px;
    height: 155px;
    width: 100%;
    background: url("/assets/images/bg_section02.png") center top repeat-x; }
  .msie8 .your-story,
  .msie9 .your-story,
  .msie10 .your-story,
  .msie11 .your-story {
    margin-top: -79px;
    padding-top: 79px; }
    .msie8 .your-story:before,
    .msie9 .your-story:before,
    .msie10 .your-story:before,
    .msie11 .your-story:before {
      top: 682px; }
  .your-story > header {
    margin: 0 auto;
    padding: 68px 0px 42px 0px;
    width: 1000px; }
    .your-story > header > .title {
      margin: 0 auto;
      text-indent: -9999px;
      background-image: url(/assets/images/sprites.png);
      background-position: 0px -703px;
      width: 668px;
      height: 115px; }
    .your-story > header .txt-desc {
      margin: 27px auto 0 auto;
      text-indent: -9999px;
      background-image: url(/assets/images/sprites.png);
      background-position: -583px -910px;
      width: 357px;
      height: 34px; }
      .your-story > header .txt-desc br {
        display: none; }
    .your-story > header dl {
      display: block;
      position: relative;
      margin: 44px auto 0 auto;
      background-image: url(/assets/images/sprites.png);
      background-position: -674px -789px;
      width: 406px;
      height: 24px; }
      .your-story > header dl dt, .your-story > header dl dd {
        position: absolute;
        top: -9999px;
        left: -9999px; }
    .your-story > header .message {
      display: block;
      margin: 20px auto 0 auto;
      text-indent: -9999px;
      background-image: url(/assets/images/sprites.png);
      background-position: -349px -1015px;
      width: 595px;
      height: 33px; }
    .your-story > header .list-gifts {
      margin: 40px auto 0 auto;
      height: 236px;
      width: 832px;
      text-align: center;
      background: url("/assets/images/bg_presents.jpg") left top no-repeat; }
      .your-story > header .list-gifts > li {
        display: none; }
  .your-story > .inner {
    position: relative;
    margin: 0 auto;
    padding: 0 0 70px 0;
    width: 1000px; }
  .your-story .txt-sns-login {
    display: block;
    margin: 40px auto 0 auto;
    text-indent: -9999px;
    background-image: url(/assets/images/sprites.png);
    background-position: -632px -329px;
    width: 190px;
    height: 19px; }
  .your-story .login-btns {
    padding: 18px 0 40px 0;
    text-align: center; }
    .your-story .login-btns:after {
      content: '';
      display: block;
      margin: 38px auto 0 auto;
      height: 50px;
      width: 1px;
      background-color: #b3b3b3; }
    .your-story .login-btns a {
      display: inline-block;
      margin: 0 1px;
      text-indent: -9999px; }
      .your-story .login-btns a.facebook {
        background-image: url(/assets/images/sprites.png);
        background-position: -1162px -583px;
        width: 79px;
        height: 79px; }
        .your-story .login-btns a.facebook.is-selected {
          background-image: url(/assets/images/sprites.png);
          background-position: -1247px -413px;
          width: 79px;
          height: 79px; }
      .your-story .login-btns a.twitter {
        background-image: url(/assets/images/sprites.png);
        background-position: -1247px -583px;
        width: 79px;
        height: 79px; }
        .your-story .login-btns a.twitter.is-selected {
          background-image: url(/assets/images/sprites.png);
          background-position: -1162px -413px;
          width: 79px;
          height: 79px; }
      .your-story .login-btns a.kakaostory {
        background-image: url(/assets/images/sprites.png);
        background-position: -1247px -498px;
        width: 79px;
        height: 79px; }
        .your-story .login-btns a.kakaostory.is-selected {
          background-image: url(/assets/images/sprites.png);
          background-position: -1162px -498px;
          width: 79px;
          height: 79px; }
  .your-story .select-video {
    overflow: hidden;
    margin: 50px -23px 0 -23px;
    padding: 0 0 0px 0;
    text-align: center; }
    .your-story .select-video:after {
      content: '';
      display: block;
      margin: 44px auto 0 auto;
      height: 50px;
      width: 1px;
      background-color: #b3b3b3; }
    .your-story .select-video > legend {
      display: block;
      position: static;
      visibility: visible;
      margin: 0 auto 22px auto;
      background-image: url(/assets/images/sprites.png);
      background-position: -909px -952px;
      width: 245px;
      height: 20px; }
    .your-story .select-video .iradio {
      display: inline-block; }
      .your-story .select-video .iradio + label {
        display: inline-block;
        margin: 0 15px;
        text-indent: -9999px;
        cursor: pointer; }
        .your-story .select-video .iradio + label.radio-video01 {
          background-image: url(/assets/images/sprites.png);
          background-position: -316px -123px;
          width: 310px;
          height: 284px; }
        .your-story .select-video .iradio + label.radio-video02 {
          background-image: url(/assets/images/sprites.png);
          background-position: 0px -123px;
          width: 310px;
          height: 284px; }
        .your-story .select-video .iradio + label.radio-video03 {
          background-image: url(/assets/images/sprites.png);
          background-position: -316px -413px;
          width: 310px;
          height: 284px; }
      .your-story .select-video .iradio.checked + .radio-video01 {
        background-image: url(/assets/images/sprites.png);
        background-position: -846px -290px;
        width: 310px;
        height: 284px; }
      .your-story .select-video .iradio.checked + .radio-video02 {
        background-image: url(/assets/images/sprites.png);
        background-position: -846px 0px;
        width: 310px;
        height: 284px; }
      .your-story .select-video .iradio.checked + .radio-video03 {
        background-image: url(/assets/images/sprites.png);
        background-position: 0px -413px;
        width: 310px;
        height: 284px; }
  .your-story .write-comment > legend {
    display: block;
    position: static;
    visibility: visible;
    margin: 0 auto;
    background-image: url(/assets/images/sprites.png);
    background-position: -846px -619px;
    width: 300px;
    height: 19px; }
  .your-story .write-comment .writer {
    overflow: hidden;
    position: relative;
    margin-top: 25px;
    padding-right: 180px; }
  .your-story .write-comment textarea {
    display: block;
    box-sizing: border-box;
    float: left;
    padding: 16px 0 0 20px;
    height: 100px;
    width: 100%;
    font-size: 14px;
    color: #4c4c4c;
    line-height: 20px;
    border: 3px solid #bdc3c5;
    border-right: 0px;
    background-color: #f0f0f0; }
  .your-story .write-comment .btn-write {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    width: 180px;
    background-color: #3a3f42; }
    .your-story .write-comment .btn-write span {
      display: inline-block;
      margin: 0 auto;
      text-indent: -9999px;
      background-image: url(/assets/images/sprites.png);
      background-position: -1162px -956px;
      width: 107px;
      height: 19px; }
  .your-story .write-comment .remain-txt {
    display: block;
    position: absolute;
    bottom: 12px;
    right: 200px;
    font-size: 12px;
    color: #666; }

/* 이벤트 유의사항 */
.guide {
  background-color: #e6e6e6; }
  .guide > .inner {
    margin: 0 auto;
    padding: 27px 0 28px 14px;
    width: 986px; }
    .guide > .inner > .title {
      text-indent: -9999px;
      background-image: url(/assets/images/sprites.png);
      background-position: -1162px -776px;
      width: 129px;
      height: 23px; }
  .guide .list-guide {
    position: relative;
    overflow: hidden;
    margin-top: 16px;
    background-image: url(/assets/images/sprites.png);
    background-position: 0px -952px;
    width: 903px;
    height: 57px; }
    .guide .list-guide > li {
      position: absolute;
      top: -9999px;
      left: -9999px; }

/* 응모팝업 */
.popup-application {
  margin: 0 auto;
  padding: 38px 50px 35px 50px;
  width: 550px;
  background: #fff url("/assets/images/bg_popup01.png") center top no-repeat;
  /* 기본 정보 */
  /* 동의 항목 */ }
  .popup-application > .title {
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    background-image: url(/assets/images/sprites.png);
    background-position: 0px -1101px;
    width: 356px;
    height: 55px; }
  .popup-application .basic-info {
    margin-top: 65px;
    padding: 16px 0 16px 0;
    color: #bdc3c5;
    text-align: center;
    border: 1px solid #e6e6e6; }
    .popup-application .basic-info label {
      display: inline-block;
      margin-right: 5px;
      text-indent: -9999px; }
      .popup-application .basic-info label.txt-name {
        background-image: url(/assets/images/sprites.png);
        background-position: -1297px -776px;
        width: 24px;
        height: 13px; }
      .popup-application .basic-info label.txt-phone {
        margin-left: 25px;
        background-image: url(/assets/images/sprites.png);
        background-position: -1284px -742px;
        width: 35px;
        height: 13px; }
    .popup-application .basic-info input[type=text] {
      height: 34px;
      width: 73px;
      font-size: 14px;
      color: #333;
      line-height: 34px;
      vertical-align: middle;
      text-align: center;
      border: 1px solid #bdc3c5;
      background-color: #f0f0f0; }
  .popup-application .agreements {
    margin-top: 35px; }
    .popup-application .agreements + .agreements {
      margin-top: 25px;
      padding-top: 30px;
      border-top: 1px dashed #bcbcbc; }
    .popup-application .agreements .txt-agreement01 {
      display: block;
      text-indent: -9999px;
      background-image: url(/assets/images/sprites.png);
      background-position: -846px -580px;
      width: 268px;
      height: 33px; }
    .popup-application .agreements .txt-agreement02 {
      display: block;
      text-indent: -9999px;
      background-image: url(/assets/images/sprites.png);
      background-position: -846px -644px;
      width: 185px;
      height: 33px; }
    .popup-application .agreements .list-agreement {
      margin-top: 10px;
      padding: 14px 0 14px 26px;
      background-color: #f0f0f0; }
      .popup-application .agreements .list-agreement > li {
        font-size: 12px;
        color: #666;
        line-height: 24px; }
        .popup-application .agreements .list-agreement > li em {
          font-weight: bold; }
          .popup-application .agreements .list-agreement > li em:before {
            content: '·';
            margin-right: 2px; }
    .popup-application .agreements .message {
      margin-top: 10px;
      font-size: 12px;
      color: #f28975;
      text-align: center; }
    .popup-application .agreements .radios {
      margin-top: 12px;
      text-align: center; }
    .popup-application .agreements .iradio {
      display: inline-block; }
      .popup-application .agreements .iradio + label {
        display: inline-block;
        margin: 0 15px;
        text-indent: -9999px;
        cursor: pointer; }
        .popup-application .agreements .iradio + label.agreement-yes {
          background-image: url(/assets/images/sprites.png);
          background-position: -1261px -924px;
          width: 69px;
          height: 26px; }
        .popup-application .agreements .iradio + label.agreement-no {
          background-image: url(/assets/images/sprites.png);
          background-position: -1162px -981px;
          width: 82px;
          height: 26px; }
      .popup-application .agreements .iradio.checked + .agreement-yes {
        background-image: url(/assets/images/sprites.png);
        background-position: -1262px -833px;
        width: 69px;
        height: 26px; }
      .popup-application .agreements .iradio.checked + .agreement-no {
        background-image: url(/assets/images/sprites.png);
        background-position: -1250px -981px;
        width: 82px;
        height: 26px; }
  .popup-application .btn-application {
    display: block;
    margin: 40px auto 0 auto;
    text-indent: -9999px;
    background-image: url(/assets/images/sprites.png);
    background-position: -1162px -206px;
    width: 134px;
    height: 152px;
    background-color: transparent; }
  .popup-application .mfp-close {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: 330px;
    text-indent: -9999px;
    background-image: url(/assets/images/sprites.png);
    background-position: -632px -619px;
    width: 42px;
    height: 42px; }
